<div class="field-input-group">
    {% set role = field_data.role if field_data else '' %}
    {% set field_mode = field_data.field_mode if field_data else 'attr' %}
    {% set attrib_id = field_data.attrib_id if field_data else None %}
    {% set item_id = field_data.item_id if field_data else None %}

    <div class="flex-row gap-10">
        <!-- Mode -->
        <select name="{{ field_prefix }}[field_mode]"
                class="field-mode-select full-width"
                style="max-width: 30ch;"
                onchange="syncFieldIdsState(this)">
            <option value="{{ Participant.ATTR }}" {{ 'selected'
                if field_mode == Participant.ATTR }}>Attribute</option>
            <option value="{{ Participant.QTY }}" {{ 'selected'
                if field_mode == Participant.QTY }}>Item Quantity</option>
            {% if 'outfield' in field_prefix %}
            <option value="{{ Participant.PLACE }}" {{ 'selected'
                if field_mode == Participant.PLACE }}>Place Item</option>
            <option value="{{ Participant.POS }}" {{ 'selected'
                if field_mode == Participant.POS }}>Position Char</option>
            <option value="{{ Participant.SPAWN }}" {{ 'selected'
                if field_mode == Participant.SPAWN }}>Spawn Char</option>
            {% elif 'infield' in field_prefix %}
            <option value="{{ Participant.DIST }}" {{ 'selected'
                if field_mode == Participant.DIST }}>Distance</option>
            {% endif %}
            <option value="{{ Participant.RATE_AMT }}" {{ 'selected'
                if field_mode == Participant.RATE_AMT }}>Recipe Yield</option>
            <option value="{{ Participant.RATE_DUR }}" {{ 'selected'
                if field_mode == Participant.RATE_DUR }}>Recipe Duration</option>
        </select>

        <div class="id-selectors">
            <!-- Attrib -->
            <select name="{{ field_prefix }}[attrib_id]" 
                    data-current-val="{{ 
                        factor.val_required if factor and
                            factor.usage_type == Participant.DET else 
                        factor.val_transform if factor and
                            factor.usage_type == Participant.EFF else 
                        1.0 
                    }}"
                    onchange="syncFieldAttribState(this)"
                    class="id-attr full-width {{
                        'hidden' if field_mode ==  Participant.QTY }}" 
                    style="max-width: 30ch;">
                {% for a in all_attribs %}
                    <option value="{{ a.id }}" {{ 'selected' if attrib_id == a.id }}>{{ a.name }}</option>
                {% endfor %}
            </select>
            
            <!-- Item -->
            <select name="{{ field_prefix }}[item_id]" 
                    class="id-item full-width {{
                        'hidden' if field_mode ==  Participant.ATTR
                        or field_mode ==  Participant.DIST }}"
                    style="max-width: 30ch;"
                    onchange="syncRecipesState(this); syncEventFieldState(this)">
                {% for i in all_items %}
                    <option value="{{ i.id }}" {{ 'selected' if item_id == i.id }}>{{ i.name }}</option>
                {% endfor %}
            </select>

            <!-- Recipe -->
            <select name="{{ field_prefix }}[recipe_id]"
                    class="id-recipe {{
                        'hidden' if 'rate' not in field_mode }}"
                    data-current-id="{{ field_data.recipe_id or '' }}">
                <!-- Populated by syncRecipesState() -->
            </select>
        </div>
    </div>

    <!-- Role -->
    <div class="flex-row align-center gap-10 role-row">
        <span>Participant:</span>
        <input type="hidden" 
                name="{{ field_prefix }}[role]" 
                class="role-hidden-input" 
                value="{{ role }}">
        <select class="role-selector"
                style="max-width: 30ch;"
                onchange="syncEventFieldState(this)">
            <option value="{{ Participant.SUBJECT }}"
                title="Who or what started this event"
                {{ 'selected' if role == Participant.SUBJECT }}>Subject</option>

            <option value="{{ Participant.TARGET }}"
                title="Another nearby or selected entity involved"
                {{ 'selected' if role == Participant.TARGET }}>Target Char</option>

            <option value="{{ Participant.AT }}"
                title="The location where this is happening"
                {{ 'selected' if role == Participant.AT }}>At</option>

            <option value="{{ Participant.UNIVERSAL }}"
                title="Global storage items not held or placed anywhere"
                {{ 'selected' if role == Participant.UNIVERSAL }}>Universal</option>

            <option value="{{ Participant.BLUEPRINT }}"
                hidden style="display: none;"
                title="(Item Blueprint)"
                {{ 'selected' if role == Participant.BLUEPRINT }}>(Item Blueprint)</option>
        </select>
    </div>

    <div class="child-toggle-container">
        <label class="checkbox-label">
            <input type="checkbox" name="{{ field_prefix }}[child_of_anchor]" 
                   class="child-item-checkbox"
                   {{ 'checked' if field_data and field_data.child_of_anchor }}>
            Attribute of an item inside inventory/floor of participant
        </label>
    </div>
</div>
