{% extends 'base.html' %}

{% block content %}
    <h1>Character Setup</h1>
    <form method="post">
        <label for="character-name">Name:</label>
        <input type="text" id="character-name" name="char_name" value="{{ current.name }}" required>
        ID: {{ current.id }}<br>
        <label for="character-description">Description:</label>
        <textarea id="character-description" name="char_description" rows="4" cols="50">{{ current.description }}</textarea><br>
        <input type="checkbox" id="top_level" name="top_level" {% if current.toplevel %}checked{% endif %}>
        <label for="top_level">Show in Overview</label><br>

        <label for="character-location">Location:</label>
        <select id="character-location" name="char_location">
            <option value="" selected>(Select location)</option>
            {% for location in game_data.locations %}
                <option value="{{ location.id }}" {% if current.location.id == location.id %}selected{% endif %}>
                    {{ location.name }}
                </option>
            {% endfor %}
        </select><br>

<!--
        <h2>Attributes</h2>
        <div id="attributes-container">
            <label for="character-xp">XP:</label>
            <input type="number" id="character-xp" name="char_xp" value="{{ current.xp }}" class="attribute-field"><br>
            <label for="character-int">Intelligence:</label>
            <input type="number" id="character-int" name="char_int" value="{{ current.intelligence }}" class="attribute-field"><br>
            <label for="character-charisma">Charisma:</label>
            <input type="number" id="character-charisma" name="char_charisma" value="{{ current.charisma }}" class="attribute-field"><br>
        </div>
-->

        <div id="attrib-container" style="border: 1px solid #ccc; padding: 10px;">
                {% for attrib, attrib_val in current.attribs.items() %}
                    <div class="attrib flexdiv" data-attrib-id="{{ attrib.id }}">
                        <input type="hidden" name="attrib_id" value="{{ attrib.id }}">
                        {{ attrib.name }}
                        <input type="number" id="attrib-{{ attrib.id }}-val" name="attrib_val_{{ attrib.id }}" value="{{ attrib_val }}">
                        <button class="remove-attrib-btn lesser-button">Remove Attribute</button>
                    </div>
                {% endfor %}

                <!-- Placeholder for appending new attribs -->
                <div id="attriblist_end" style="width: 0; height: 0; opacity: 0;"></div>
                {% if game_data.attribs %}
                    <!-- Select box for adding another attrib -->
                    <div class="select-box">
                        <select id="add-attrib-select">
                            <option value="" selected>(Select attribute)</option>
                            {% for attrib in game_data.attribs %}
                                <option value="{{ attrib.id }}">{{ attrib.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" id="add-attrib-btn" class="lesser-button">Add Attribute</button>
                    </div>
                {% else %}
                    <p class="no-attributes">(No attributes)</p>
                {% endif %}
            </div>
        </div>

        <table id="items-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Worn Slot</th>
                    <th class="transparent-col"></th>
                </tr>
            </thead>
            <tbody id="items-container">
                {% for item, slot in current.items.items() %}
                    <tr class="item">
                        <td>{{ item.name }}</td>
                        <td>
                            <input type="hidden" name="item_id[]" value="{{ item.id }}">
                            <input type="text" name="item_slot[]" value="{{ slot }}" size="8">
                        </td>
                        <td>
                            <button class="remove-item-btn">Remove Item</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% if game_data.items %}
                <!-- Select box for adding another source -->
                <div class="select-box">
                    <select class="item-select" name="item_select">
                        <option value="" selected>(Select item)</option>
                        {% for item in game_data.items %}
                            {% if item not in current.items %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="button" class="add-item-btn lesser-button">Add Item</button>
                </div>
            {% else %}
                <p class="no-items">(No other items)</p>
            {% endif %}
        </div>

        <button type="submit" id="btn-save" name="save_changes">Save and Continue</button>
        <button type="submit" id="btn-cancel" name="cancel_changes" formnovalidate>Cancel Changes</button>
    </form>

    <script>
        $(document).ready(function() {
            // Add an item select box and corresponding add button
            $('.add-item-btn').click(function() {
                var selectBox = $(this).prev('.item-select');
                var selectedOption = selectBox.find(':selected');
                var itemId = selectedOption.val();
                var itemName = selectedOption.text();
                if (itemId === '') {
                    return; // don't add if the selected option is the placeholder
                }
                var existingItem = $('.item input[value="' + itemId + '"]').closest('.item');
                if (existingItem.length > 0) {
                    alert('Item already exists.');
                    return;
                }
                // Create HTML elements for the item
                var itemHtml = `
                    <tr>
                        <td>${itemName}</td>
                        <td>
                            <input type="hidden" name="item_id[]" value="${itemId}">
                            <input type="text" name="item_slot[]" value="" size="10">
                        </td>
                        <td>
                            <button class="remove-item-btn">Remove Item</button>
                        </td>
                    </tr>
                `;
                $('#items-container').prepend(itemHtml);
            });

            // Remove an item from the list
            $('#items-container').on('click', '.remove-item-btn', function() {
                var itemContainer = $(this).closest('.item');
                itemContainer.remove();
            });

            $('#add-attrib-btn').click(function() {
                const selectedOption = $('#add-attrib-select option:selected');
                const attribId = selectedOption.val();
                const attribName = selectedOption.text();
                if (attribId == "") {
                    return; // don't add if the selected option is the placeholder
                }
                const existingAttrib = $('.attrib[data-attrib-id="' + attribId + '"]');
                if (existingAttrib.length > 0) {
                    alert('Attribute already exists.');
                    return;
                }
                // Create HTML elements for the attrib
                const attribHtml = `
                    <div class="attrib flexdiv" data-attrib-id="${attribId}">
                        <input type="hidden" name="attrib_id" value="${attribId}">
                        ${attribName}
                        <input type="number" id="attrib-${attribId}-val" name="attrib_val_${attribId}" value="1">
                        <button class="remove-attrib-btn lesser-button">Remove Attribute</button>
                    </div>
                `;
                $('#attriblist_end').before(attribHtml);
            });

            $('#attrib-container').on('click', '.remove-attrib-btn', function() {
                const attribContainer = $(this).closest('.attrib');
                const attribId = attribContainer.data('attrib-id');

                // Remove the attrib from the DOM
                attribContainer.remove();
            });
        });
    </script>
{% endblock %}
