{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a href="{{ url_for('configure_index') }}">General Setup</a>
    </div>
{% endblock %}

{% block content %}
    <h1>Item Setup</h1>
    <p class="info">Basic building blocks. In addition to typical items such as resources, money, or equipment,
    they can also represent an upgrade in production speed,
    or conversation dialog.
    They could even be people if they don't do much.
    For more ideas on how items can be used, browse the pre-built scenarios.
    </p>
    <!--
    <p class="info">Incidentally, in a pen-and-paper game, item progress could be determined from a clock,
    by writing the start and stop time of an action and computing elapsed progress.</p>
    -->
    <form method="post">
        <label for="item-name">Name:</label>
        <input type="text" id="item-name" name="item_name" value="{{ current.name }}" required><br>
        <label for="item-description" >Description:</label>
        <textarea id="item-description" name="item_description" rows="4" cols="50">{{ current.description }}</textarea><br>

        <style>
            .storage-container {
                display: flex;
                align-items: flex-start;
            }
        </style>
        <div class="storage-container">
            <label for="storage_type">Storage:</label>
            <div class="storage-options">
                <input type="radio" id="carried" name="storage_type" value="carried" {% if current.storage_type == 'carried' %}checked{% endif %}>
                <label for="carried">Used when carried</label><br>
                <input type="radio" id="local" name="storage_type" value="local" {% if current.storage_type == 'local' %}checked{% endif %}>
                <label for="local">Resides at a location</label><br>
                <input type="radio" id="universal" name="storage_type" value="universal" {% if current.storage_type == 'universal' %}checked{% endif %}>
                <label for="universal">Accessible anywhere</label>
                <input type="checkbox" id="top_level" name="top_level" style="margin-left: 10px;" {% if current.toplevel %}checked{% endif %}><label for="top_level">Show in Overview</label><br>
            </div>
        </div>
        <label for="item-quantity">Quantity in General Storage:</label>
        <input type="number" step="any" id="item-quantity" name="item_quantity" value="{{ current.quantity | dec2str }}"><span id="running-label"></span><br>
        <label for="item-limit">Limit per Pile:</label>
        <input type="number" step="any" id="item-limit" name="item_limit" value="{{ current.q_limit | dec2str }}"> <span class="label-like">0 for unlimited</span><br>
        <input type="checkbox" id="masked" name="masked" {% if current.masked %}checked{% endif %}>
        <label for="mask">Don't reveal until gained</label><br>

        <div id="sources-container" class="outer-border">
            <!-- Placeholder for appending new recipes -->
            <div id="recipelist_end" style="width: 0; height: 0; opacity: 0;"></div>
            {% if game_data.items | length > 0 %}
                <!-- Select box for adding another source -->
                <div class="select-box">
                    <select id="add-source-select">
                        <option value="" selected>(Select item)</option>
                        {% for item in game_data.items %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" id="add-source-btn" class="lesser-button">Add Source</button>
                </div>
            {% else %}
                <p class="no-entities">(No items)</p>
            {% endif %}
            {% if game_data.attribs %}
                <!-- Select box for adding another recipe attrib -->
                <div class="select-box">
                    <select id="add-recipeattrib-select">
                        <option value="" selected>(Select item)</option>
                        {% for attrib in game_data.attribs %}
                            <option value="{{ attrib.id }}">{{ attrib.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" id="add-recipeattrib-btn" class="lesser-button">Add Required Attribute</button>
                </div>
            {% endif %}
            <button type="button" id="add-recipe-btn" class="lesser-button" {% if current.recipes | length == 0 %}style="display: none;"{% endif %}>Add Alternative Recipe</button>
        </div>

        <div id="attrib-container" class="outer-border">
            <table id="attrib-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th class="transparent-col"></th>
                    </tr>
                </thead>
                <tbody id="attrib-rows">
                </tbody>
            </table>
            <div>
                {% if game_data.attribs %}
                    <!-- Select box for adding another attribute -->
                    <div class="select-box">
                        <select id="add-attrib-select">
                            <option value="" selected>(Select attribute)</option>
                            {% for attrib in game_data.attribs %}
                                <option value="{{ attrib.id }}">{{ attrib.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" id="add-attrib-btn" class="lesser-button">Add Attribute</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No attributes)</p>
                {% endif %}
            </div>
        </div>

        <button type="submit" id="btn-save" name="save_changes">Save and Continue</button>
        <button type="submit" id="btn-cancel" name="cancel_changes" formnovalidate>Cancel Changes</button>
        <button type="submit" id="btn-delete" name="delete_item" class="dangerous-button">Delete Item</button>
    </form>
    <script>
        function updateInstantVisibility(checkbox) {
            const recipeContainer = $(checkbox).closest('.recipe-container');
            if ($(checkbox).is(':checked')) {
                const overTimeContainer = recipeContainer.find('#over-time-container');
                overTimeContainer.hide();
            } else {
                const overTimeContainer = recipeContainer.find('#over-time-container');
                overTimeContainer.show();
            }
        }

        $(document).ready(function() {
            {% if current.id > 0 %}
                $('#btn-delete').removeAttr('disabled');
            {% else %}
                $('#btn-delete').attr('disabled', 'disabled');
            {% endif %}

            // disable changing quantity if currently in progress
            const itemQuantityInput = $('#item-quantity');
            if ({{ current.progress.is_ongoing|lower }}) {
                itemQuantityInput.prop('disabled', true);
                $('#running-label').text('(Running)');
            }

            let recipeCounter = 0;
            function addRecipe(rate_amount = 1.0, rate_duration = 3.0, instant = false) {
                recipeCounter++;
                console.log(`addRecipe() ${recipeCounter}`);
                const recipeHtml = `
                    <div class="recipe-container separated-div">
                        <input type="hidden" name="recipe_id" value="${recipeCounter}">
                        <label for="rate-amount">Gain per Batch:</label>
                        <input type="number" step="any" id="rate-amount" name="recipe${recipeCounter}_rate_amount" value="${rate_amount}" required>
                        <span id="over-time-container">
                            <label for="rate-duration">Duration:</label>
                            <input type="number" step="any" id="rate-duration" name="recipe${recipeCounter}_rate_duration" value="${rate_duration}" required>
                            <span class="label-like">seconds</span>
                        </span>
                        <span class="spaced-checkbox">
                        <input type="checkbox" id="instant" name="recipe${recipeCounter}_instant"
                            ${instant ? 'checked' : ''} onChange="updateInstantVisibility(this);"
                            ><label for="instant">Instant</label>
                        </span>
                        <button type="button" class="remove-recipe-btn lesser-button" id="remove-recipe${recipeCounter}">Remove Recipe</button>
                        <!-- Placeholder for appending new sources -->
                        <div class="sourcelist_end" style="width: 0; height: 0; opacity: 0;"></div>
                        <!-- Placeholder for appending new attribs required for recipe -->
                        <div class="recipeattribs_end" style="unobtrusive"></div>
                        </div>
                    </div>
                `;
                $('#recipelist_end').before(recipeHtml);
                toggleAddRecipeButtonVisibility();
                const newCheckbox = $(`#instant[name="recipe${recipeCounter}_instant"]`)[0];
                $(newCheckbox).trigger('change');
            }

            function addSource(recipeId, sourceId, sourceName,
                    sourceQtyReq = 1.0, preserve = false) {
                console.log(`addSource() ${sourceId}`);
                const recipeContainer = $('.recipe-container').last();
                const existingSource = recipeContainer.find(`.source[data-source-id="${sourceId}"]`);
                if (existingSource.length > 0) {
                    alert('Source already exists.');
                    return;
                }
                const idArray = [`recipe${recipeId}`, `source${sourceId}`];
                const uniqueId = idArray.join('-');
                const uniqueName = idArray.join('_');
                const sourceHtml = `
                    <div class="source" data-source-id="${sourceId}">
                        <input type="hidden" name="recipe${recipeId}_source_id" value="${sourceId}">
                        <label>Takes:</label>
                        <input type="number" step="any" id="${uniqueId}-qtyreq" name="${uniqueName}_qtyreq" value="${sourceQtyReq}">
                        ${sourceName}
                        <span class="spaced-checkbox">
                            <input type="checkbox" id="{uniqueId}-preserve" name="${uniqueName}_preserve" ${preserve ? 'checked' : ''}
                            ><label for="preserve">Preserve</label>
                        </span>
                        <button type="button" class="remove-source-btn lesser-button" id="remove-${uniqueId}">Remove</button>
                    </div>
                `;
                recipeContainer.find('.sourcelist_end').before(sourceHtml);
                console.log("added sourceHtml before sourcelist_end");
                toggleAddRecipeButtonVisibility();
            }
            function addRecipeAttrib(recipeId, attribId, attribName, attribValue = 1) {
                console.log(`addRecipeAttrib() ${attribId}`);
                console.log(`attribName: ${attribName}`);
                console.log(`debugging`);
                const recipeContainer = $('.recipe-container').last();
                const existingAttrib = recipeContainer.find(`.recipeattrib[data-attrib-id="${attribId}"]`);
                if (existingAttrib.length > 0) {
                    alert('Attribute already exists.');
                    return;
                }
                const idArray = [`recipe${recipeId}`, `attrib${attribId}`];
                const uniqueId = idArray.join('-');
                const uniqueName = idArray.join('_');
                const attribHtml = `
                    <div class="recipeattrib" data-attrib-id="${attribId}">
                        <input type="hidden" name="recipe${recipeId}_attrib_id" value="${attribId}">
                        <label>Requires Attribute:</label>
                        ${attribName}
                        <input type="number" step="any" id="${uniqueId}_value" name="${uniqueName}_value" value="${attribValue}">
                        <button type="button" class="remove-recipeattrib-btn lesser-button" id="remove-${uniqueId}">Remove</button>
                    </div>
                `;
                recipeContainer.find('.recipeattribs_end').before(attribHtml);
                console.log("added attribHtml before recipeattribs_end");
                toggleAddRecipeButtonVisibility();
            }
            $('#add-source-btn').click(function() {
                const selectedOption = $('#add-source-select option:selected');
                const sourceId = selectedOption.val();
                const sourceName = selectedOption.text();
                if (sourceId == "") {
                    return; // Don't add if the selected option is the placeholder
                }
                let recipeId;
                const recipeContainer = $('.recipe-container').last();
                if (recipeContainer.length) {
                    const existingSource = recipeContainer.find(
                        `.source[data-source-id="${sourceId}"]`);
                    if (existingSource.length > 0) {
                        alert('Source already exists.');
                        return;
                    }
                    const hiddenInput = recipeContainer.find('input[type="hidden"][name="recipe_id"]');
                    recipeId = hiddenInput.val();
                    console.log(`recipe container for id ${recipeId}`);
                } else {
                    // No recipe yet, so add one
                    console.log("no recipe containers found");
                    addRecipe();
                    recipeId = recipeCounter;
                }
                addSource(recipeId, sourceId, sourceName);
                toggleAddRecipeButtonVisibility();
            });
            $('#add-recipeattrib-btn').click(function() {
                const selectedOption = $('#add-recipeattrib-select option:selected');
                const attribId = selectedOption.val();
                const attribName = selectedOption.text();
                if (attribId == "") {
                    return; // Don't add if the selected option is the placeholder
                }
                let recipeId;
                const recipeContainer = $('.recipe-container').last();
                if (recipeContainer.length) {
                    const existingAttrib = recipeContainer.find(
                        `.recipeattrib[data-attrib-id="${attribId}"]`);
                    if (existingAttrib.length > 0) {
                        alert('Attribute already exists.');
                        return;
                    }
                    const hiddenInput = recipeContainer.find('input[type="hidden"][name="recipe_id"]');
                    recipeId = hiddenInput.val();
                    console.log(`recipe container for id ${recipeId}`);
                } else {
                    // No recipe yet, so add one
                    console.log("no recipe containers found");
                    addRecipe();
                    recipeId = recipeCounter;
                }
                addRecipeAttrib(recipeId, attribId, attribName);
                toggleAddRecipeButtonVisibility();
            });

            console.log("number of recipes={{ current.recipes | length }}");
            {% for recipe in current.recipes %}
                addRecipe(
                    {{ recipe.rate_amount | dec2str }},
                    {{ recipe.rate_duration | dec2str }},
                    {{ recipe.instant | lower }});
                {% for source in recipe.sources %}
                    addSource(
                        recipeCounter,
                        {{ source.item.id }},
                        "{{ source.item.name }}",
                        {{ source.q_required | dec2str }},
                        {{ source.preserve | lower }});
                {% endfor %}
                {% for attrib_id, req in recipe.attribs.items() %}
                    addRecipeAttrib(
                        recipeCounter,
                        {{ attrib_id }},
                        "{{ req.attrib.name }}",
                        {{ req.val | dec2str }});
                {% endfor %}
            {% endfor %}

            $('#sources-container').on('click', '.remove-source-btn', function() {
                const recipeContainer = $(this).closest('.recipe-container');
                const sourceContainer = $(this).closest('.source');
                sourceContainer.remove();
                if (recipeContainer.find('.source').length == 0) {
                    recipeContainer.remove();
                    recipeCounter--;
                }
                toggleAddRecipeButtonVisibility();
            });

            $('#sources-container').on('click', '.remove-recipe-btn', function() {
                const recipeContainer = $(this).closest('.recipe-container');
                recipeContainer.remove();
                recipeCounter--;
                toggleAddRecipeButtonVisibility();
            });

            function toggleAddRecipeButtonVisibility() {
                const recipeContainer = $('.recipe-container').last();
                const numSources = recipeContainer.find('.source').length;
                const numRecipeAttribs = recipeContainer.find('.recipeattrib').length;
                console.log("toggleAddRecipeButtonVisibility(): numSources=", numSources, "numRecipeAttribs=", numRecipeAttribs);
                if (numSources > 0 || numRecipeAttribs > 0) {
                    $('#add-recipe-btn').show();
                } else {
                    $('#add-recipe-btn').hide();
                }
            }
            toggleAddRecipeButtonVisibility();

            $('#add-recipe-btn').click(function() {
                console.log("add-recipe-btn.click()");
                addRecipe();
            });

            function addAttrib(attribId, attribName, attribVal = 1) {
                const attribHtml = `
                    <tr>
                        <td>${attribName}
                            <input type="hidden" name="attrib_id[]" value="${attribId}">
                        </td><td>
                            <input type="number" name="attrib${attribId}_val" value="${attribVal}" size="8">
                        </td><td>
                            <button type="button" class="remove-attrib-btn lesser-button">Remove</button>
                        </td>
                    </tr>
                `;
                $('#attrib-rows').prepend(attribHtml);
                $('#attrib-table').show();
            }
            $('#add-attrib-btn').click(function() {
                const selectedOption = $('#add-attrib-select option:selected');
                const attribId = selectedOption.val();
                const attribName = selectedOption.text();
                if (attribId == "") {
                    return; // don't add if the selected option is the placeholder
                }
                const existingAttrib = $('#attrib-rows input[name="attrib_id[]"][value="' + attribId + '"]').closest('tr');
                if (existingAttrib.length > 0) {
                    alert('Attribute already exists.');
                    return;
                }
                addAttrib(attribId, attribName);
            });
            console.log("number of attribs={{ current.attribs.keys() | length }}");
            {% for attrib_id, attrib_of in current.attribs.items() %}
                addAttrib(
                    {{ attrib_id }},
                    "{{ attrib_of.attrib.name }}",
                    {{ attrib_of.val | dec2str }});
            {% endfor %}

            $('#attrib-container').on('click', '.remove-attrib-btn', function() {
                const attribRow = $(this).closest('tr');
                attribRow.remove();
                if ($('#attrib-rows').children().length === 0) {
                    $('#attrib-table').hide();
                }
            });

            function updateTopLevelCheckbox() {
                const selectedStorageType = $('input[name="storage_type"]:checked').val();
                if (selectedStorageType === 'universal') {
                    $('#top_level').prop('disabled', false);
                } else {
                    $('#top_level').prop('checked', false);
                    $('#top_level').prop('disabled', true);
                }
            }
            updateTopLevelCheckbox();

            $('input[name="storage_type"]').on('change', function() {
                updateTopLevelCheckbox();
            });
        });
    </script>
{% endblock %}
