{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for("overview") }}">Overview</a>
        <span class="separator">|</span>
        <a href="{{ url_for("configure_index") }}">Main Setup Page</a>
    </div>
{% endblock %}
{% block content %}
    <h1>Item Setup</h1>
    <p class="info">
        Basic building blocks. In addition to typical items such as resources, money, or equipment,
        they can also represent an upgrade in production speed,
        or conversation dialog.
        They could even be people if they don't take actions.
    </p>
    <!--
    For more ideas on how items can be used, browse the pre-built scenarios.

    Incidentally, in a pen-and-paper game, item progress could be
    determined from a clock, by writing the start and stop time of an action and
    computing elapsed progress.
    -->
    <form method="post" style="padding-bottom: 60px">
        <label for="item-name">Name:</label>
        <input type="text"
               id="item-name"
               name="item_name"
               value="{{ current.name }}"
               required>
        <br>
        <label for="item-description">Description:</label>
        <textarea id="item-description" name="item_description" rows="6" cols="50">{{ current.description }}</textarea>
        <br>
        <style>
            .storage-container {
                display: flex;
                align-items: flex-start;
            }
        </style>
        <div class="storage-container">
            <label>Storage:</label>
            <div class="storage-options">
                <input type="radio"
                       id="carried"
                       name="storage_type"
                       value="carried"
                       {% if current.storage_type == 'carried' %}checked{% endif %}>
                <label for="carried">Used when carried</label>
                <br>
                <input type="radio"
                       id="local"
                       name="storage_type"
                       value="local"
                       {% if current.storage_type == 'local' %}checked{% endif %}>
                <label for="local">Resides at a location</label>
                <br>
                <input type="radio"
                       id="universal"
                       name="storage_type"
                       value="universal"
                       {% if current.storage_type == 'universal' %}checked{% endif %}>
                <label for="universal">Accessible anywhere</label>
                <input type="checkbox"
                       id="top_level"
                       name="top_level"
                       style="margin-left: 10px"
                       {% if current.toplevel %}checked{% endif %}>
                <label for="top_level">Show in Overview</label>
                <br>
            </div>
        </div>
        <label for="item-quantity">Quantity in General Storage:</label>
        <input type="text"
               id="item-quantity"
               name="item_quantity"
               value="{{ current.pile.quantity | formatNum }}"
               size="8">
        <span id="running-label" title="currently in production"></span>
        <br>
        <label for="item-limit">Limit per Pile:</label>
        <input type="text"
               id="item-limit"
               name="item_limit"
               value="{{ current.q_limit | formatNum }}"
               size="8">
        <span class="label-like">0 for unlimited</span>
        <br>
        <input type="checkbox"
               id="masked"
               name="masked"
               {% if current.masked %}checked{% endif %}>
        <label for="masked">Don't reveal until gained</label>
        <br>
        <input type="checkbox"
               id="mult"
               name="multiplicative"
               {% if current.mult %}checked{% endif %}>
        <label for="mult">Quantity multiplies when used for events (adds if unchecked)</label>
        <br>
        <div id="attrib-container" class="outer-border">
            <table id="attrib-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th class="transparent-col"></th>
                    </tr>
                </thead>
                <tbody id="attrib-rows">
                </tbody>
            </table>
            <div>
                {% if game_data.attribs %}
                    <!-- Select box for adding another attribute -->
                    <div class="select-box">
                        <select id="add-attrib-select">
                            <option value="" selected>(Select attribute)</option>
                            {% for attrib in game_data.attribs %}
                                <option value="{{ attrib.id }}"
                                    data-binary="{{ attrib.binary | lower }}"
                                    data-enum='{{ attrib.enum | tojson }}'>
                                    {{ attrib.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="button" id="add-attrib-btn" class="lesser-button">Add Attribute</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No attributes)</p>
                {% endif %}
            </div>
        </div>
        <div id="sources-container" class="outer-border">
            <!-- Placeholder for appending new recipes -->
            <div id="recipelist_end" class="unobtrusive"></div>
            {% if game_data.items | length > 0 %}
                <!-- Select box for adding another source -->
                <div class="select-box">
                    <select id="add-source-select">
                        <option value="" selected>(Select item)</option>
                        {% for item in game_data.items %}<option value="{{ item.id }}">{{ item.name }}</option>{% endfor %}
                    </select>
                    <button type="button" id="add-source-btn" class="lesser-button">Add Source</button>
                    <button type="button" id="add-byproduct-btn" class="lesser-button">Add Byproduct</button>
                </div>
            {% else %}
                <p class="no-entities">(No items)</p>
            {% endif %}
            {% if game_data.attribs %}
                <!-- Select box for adding another recipe attrib -->
                <div class="select-box">
                    <select id="add-recipeattrib-select">
                        <option value="" selected>(Select attribute)</option>
                        {% for attrib in game_data.attribs %}<option value="{{ attrib.id }}">{{ attrib.name }}</option>{% endfor %}
                    </select>
                    <button type="button" id="add-recipeattrib-btn" class="lesser-button">Add Required Attribute</button>
                </div>
            {% endif %}
            <button type="button"
                    id="add-recipe-btn"
                    class="lesser-button"
                    {% if current.recipes | length == 0 %}style="display: none;"{% endif %}>
                Add Alternative Recipe
            </button>
        </div>
        <div class="footer-buttons">
            <button type="submit" id="btn-save" name="save_changes">Save and Close</button>
            <button type="submit" id="btn-duplicate" name="make_duplicate">Save and Duplicate</button>
            <button type="submit" id="btn-cancel" name="cancel_changes" formnovalidate>Close without Saving</button>
            <button type="submit"
                    id="btn-delete"
                    name="delete_item"
                    class="dangerous-button">Delete Item</button>
        </div>
    </form>
    <script>
        function updateInstantVisibility(checkbox) {
            const recipeContainer = $(checkbox).closest('.recipe-container');
            if ($(checkbox).is(':checked')) {
                const overTimeContainer = recipeContainer.find('#over-time-container');
                overTimeContainer.hide();
            } else {
                const overTimeContainer = recipeContainer.find('#over-time-container');
                overTimeContainer.show();
            }
        }

        $(document).ready(() => {
            {% if current.id > 0 %}
                $('#btn-delete').removeAttr('disabled');
            {% else %}
                $('#btn-delete').attr('disabled', 'disabled');
            {% endif %}

            // disable changing quantity if currently in progress
            const itemQuantityInput = $('#item-quantity');
            {% if current.progress.is_ongoing|lower == 'true' %}
                itemQuantityInput.prop('readonly', true);
                $('#running-label').text('🔄');
            {% endif %}

            let nextRecipeId = 0;
            function addRecipe(recipe_id=0, recipe_id_from='from_js', rate_amount = "1.0", rate_duration = "3.0", instant = false) {
                console.log(`addRecipe(${recipe_id}, ${recipe_id_from}) counter=${nextRecipeId}`);
                if (recipe_id_from === 'from_db') {
                    // Ensure nextRecipeId is ahead of the highest id from the database
                    nextRecipeId = Math.max(nextRecipeId, recipe_id);
                } else if (recipe_id_from === 'from_js') {
                    nextRecipeId++;
                    recipe_id = nextRecipeId;
                } else {
                    console.error(`Invalid recipe_id_from ${recipe_id_from}`);
                    return 0;
                }
                const recipeHtml = `
                    <div class="recipe-container separated-div">
                        <input type="hidden" name="recipe_id" value="${recipe_id}">
                        <input type="hidden" name="recipe_id_from" value="${recipe_id_from}">
                        <label for="rate-amount">Gain per Batch:</label>
                        <input type="text" id="rate-amount" name="recipe${recipe_id}_rate_amount" value="${rate_amount}" size="8" required>
                        <span id="over-time-container">
                            <label for="rate-duration">Duration:</label>
                            <input type="text" id="rate-duration" name="recipe${recipe_id}_rate_duration" value="${rate_duration}" size="8" required>
                            <span class="label-like">seconds</span>
                        </span>
                        <span class="spaced-checkbox">
                        <input type="checkbox" id="instant" name="recipe${recipe_id}_instant"
                            ${instant ? 'checked' : ''}
                            ><label for="instant">Instant</label>
                        </span>
                        <button type="button" class="remove-recipe-btn lesser-button" id="remove-recipe${recipe_id}" style="margin: 10px">Remove Recipe</button>
                        <!-- Placeholder for appending new sources -->
                        <div class="sourcelist_end" class="unobtrusive"></div>
                        <!-- Placeholder for appending new byproducts -->
                        <div class="byproductlist_end" class="unobtrusive"></div>
                        <!-- Placeholder for appending new attribs required for recipe -->
                        <div class="recipeattribs_end" class="unobtrusive"></div>
                        </div>
                    </div>
                `;
                $('#recipelist_end').before(recipeHtml);
                toggleAddRecipeButtonVisibility();
                const instantCheckbox = $(`#instant[name="recipe${recipe_id}_instant"]`)[0];
                $(instantCheckbox).change((event) => {
                    updateInstantVisibility(event.currentTarget);
                });
                $(instantCheckbox).trigger('change');
                return recipe_id;
            }

            function addSource(recipeId, sourceId, sourceName,
                    sourceQtyReq = "1.0", preserve = false) {
                console.log(`addSource() ${sourceId}`);
                const recipeContainer = $('.recipe-container').last();
                const existingSource = recipeContainer.find(`.source[data-source-id="${sourceId}"]`);
                if (existingSource.length > 0) {
                    alert('Source already exists.');
                    return;
                }
                const idArray = [`recipe${recipeId}`, `source${sourceId}`];
                const uniqueId = idArray.join('-');
                const uniqueName = idArray.join('_');
                const sourceHtml = `
                    <div class="source" data-source-id="${sourceId}">
                        <input type="hidden" name="recipe${recipeId}_source_id" value="${sourceId}">
                        <label>Takes:</label>
                        <input type="text" id="${uniqueId}-qtyreq" name="${uniqueName}_qtyreq" value="${sourceQtyReq}" size="8">
                        ${sourceName}
                        <span class="spaced-checkbox">
                            <input type="checkbox" id="{uniqueId}-preserve" name="${uniqueName}_preserve" ${preserve ? 'checked' : ''}
                            ><label for="{uniqueId}-preserve">Preserve</label>
                        </span>
                        <button type="button" class="remove-source-btn lesser-button" id="remove-${uniqueId}">Remove</button>
                    </div>
                `;
                recipeContainer.find('.sourcelist_end').before(sourceHtml);
                console.log("added sourceHtml before sourcelist_end");
                toggleAddRecipeButtonVisibility();
            }
            function addRecipeAttrib(recipeId, attribId, attribName, attribValue = "1") {
                console.log(`addRecipeAttrib() ${attribId}`);
                console.log(`attribName: ${attribName}`);
                console.log(`debugging`);
                const recipeContainer = $('.recipe-container').last();
                const existingAttrib = recipeContainer.find(`.recipeattrib[data-attrib-id="${attribId}"]`);
                if (existingAttrib.length > 0) {
                    alert('Attribute already exists.');
                    return;
                }
                const idArray = [`recipe${recipeId}`, `attrib${attribId}`];
                const uniqueId = idArray.join('-');
                const uniqueName = idArray.join('_');
                const attribHtml = `
                    <div class="recipeattrib" data-attrib-id="${attribId}">
                        <input type="hidden" name="recipe${recipeId}_attrib_id" value="${attribId}">
                        <label>Requires Attribute:</label>
                        ${attribName}
                        <input type="text" id="${uniqueId}_value" name="${uniqueName}_value" value="${attribValue}" size="8">
                        <button type="button" class="remove-recipeattrib-btn lesser-button" id="remove-${uniqueId}">Remove</button>
                    </div>
                `;
                recipeContainer.find('.recipeattribs_end').before(attribHtml);
                console.log("added attribHtml before recipeattribs_end");
                toggleAddRecipeButtonVisibility();
            }
            function addByproduct(recipeId, byproductId, byproductName, rateAmount = "1.0") {
                console.log(`addByproduct() ${byproductId}`);
                const recipeContainer = $('.recipe-container').last();
                const existingByproduct = recipeContainer.find(`.byproduct[data-byproduct-id="${byproductId}"]`);
                if (existingByproduct.length > 0) {
                    alert('Byproduct already exists.');
                    return;
                }
                {% if current.id > 0 %}
                if (byproductId === {{ current.id }}) {
                    alert(`"${byproductName}" is the primary item produced by this recipe, so it cannot also be a byproduct of the recipe.`);
                    return;
                }
                {% endif %}
                const idArray = [`recipe${recipeId}`, `byproduct${byproductId}`];
                const uniqueId = idArray.join('-');
                const uniqueName = idArray.join('_');
                const byproductHtml = `
                    <div class="byproduct" data-byproduct-id="${byproductId}">
                        <input type="hidden" name="recipe${recipeId}_byproduct_id" value="${byproductId}">
                        <label>Also Produces:</label>
                        <input type="text" id="${uniqueId}-rate_amount" name="${uniqueName}_rate_amount" value="${rateAmount}" size="8">
                        ${byproductName}
                        <button type="button" class="remove-byproduct-btn lesser-button" id="remove-${uniqueId}">Remove</button>
                    </div>
                `;
                recipeContainer.find('.byproductlist_end').before(byproductHtml);
                console.log("added byproductHtml before byproductlist_end");
                toggleAddRecipeButtonVisibility();
            }
            $('#add-source-btn').click(() => {
                const selectedOption = $('#add-source-select option:selected');
                const sourceId = selectedOption.val();
                const sourceName = selectedOption.text();
                if (sourceId === "") {
                    return; // Don't add if the selected option is the placeholder
                }
                let recipeId;
                const recipeContainer = $('.recipe-container').last();
                if (recipeContainer.length) {
                    const existingSource = recipeContainer.find(
                        `.source[data-source-id="${sourceId}"]`);
                    if (existingSource.length > 0) {
                        alert('Source already exists.');
                        return;
                    }
                    recipeId = recipeContainer.find('input[name="recipe_id"]').val();
                    console.log(`recipe container for id ${recipeId}`);
                } else {
                    // No recipe yet, so add one
                    console.log("no recipe containers found");
                    recipeId = addRecipe();
                }
                addSource(recipeId, sourceId, sourceName);
                toggleAddRecipeButtonVisibility();
            });
            $('#add-byproduct-btn').click(() => {
                const selectedOption = $('#add-source-select option:selected');
                const byproductId = selectedOption.val();
                const byproductName = selectedOption.text();
                if (byproductId === "") {
                    return; // Don't add if the selected option is the placeholder
                }
                let recipeId;
                const recipeContainer = $('.recipe-container').last();
                if (recipeContainer.length) {
                    // Check if the byproduct already exists in the container
                    const existingByproduct = recipeContainer.find(
                        `.byproduct[data-byproduct-id="${byproductId}"]`);
                    if (existingByproduct.length > 0) {
                        alert('Byproduct already exists.');
                        return;
                    }
                    recipeId = recipeContainer.find('input[name="recipe_id"]').val();
                    console.log(`recipe container for id ${recipeId}`);
                } else {
                    // No recipe yet, so add one
                    console.log("no recipe containers found");
                    recipeId = addRecipe();
                }
                addByproduct(recipeId, byproductId, byproductName);
                toggleAddRecipeButtonVisibility();
            });
            $('#add-recipeattrib-btn').click(() => {
                const selectedOption = $('#add-recipeattrib-select option:selected');
                const attribId = selectedOption.val();
                const attribName = selectedOption.text();
                if (attribId === "") {
                    return; // Don't add if the selected option is the placeholder
                }
                let recipeId;
                const recipeContainer = $('.recipe-container').last();
                if (recipeContainer.length) {
                    const existingAttrib = recipeContainer.find(
                        `.recipeattrib[data-attrib-id="${attribId}"]`);
                    if (existingAttrib.length > 0) {
                        alert('Attribute already exists.');
                        return;
                    }
                    recipeId = recipeContainer.find('input[name="recipe_id"]').val();
                    console.log(`recipe container for id ${recipeId}`);
                } else {
                    // No recipe yet, so add one
                    console.log("no recipe containers found");
                    recipeId = addRecipe();
                }
                addRecipeAttrib(recipeId, attribId, attribName);
                toggleAddRecipeButtonVisibility();
            });

            console.log("number of recipes={{ current.recipes | length }}");
            {% for recipe in current.recipes %}
                addRecipe(
                    {{ recipe.id }},
                    'from_db',
                    "{{ recipe.rate_amount | formatNum }}",
                    "{{ recipe.rate_duration | formatNum }}",
                    {{ recipe.instant | lower }}
                    );
                {% for source in recipe.sources %}
                    addSource(
                        {{ recipe.id }},
                        {{ source.item.id }},
                        "{{ source.item.name }}",
                        "{{ source.q_required | formatNum }}",
                        {{ source.preserve | lower }}
                        );
                {% endfor %}
                {% for byproduct in recipe.byproducts %}
                    addByproduct(
                        {{ recipe.id }},
                        {{ byproduct.item.id }},
                        "{{ byproduct.item.name }}",
                        "{{ byproduct.rate_amount | formatNum }}"
                        );
                {% endfor %}
                {% for attrib_id, req in recipe.attribs.items() %}
                    addRecipeAttrib(
                        {{ recipe.id }},
                        {{ attrib_id }},
                        "{{ req.attrib.name }}",
                        "{{ req.val | formatNum }}"
                        );
                {% endfor %}
            {% endfor %}

            $('#sources-container').on('click', '.remove-source-btn', (event) => {
                const recipeContainer = $(event.currentTarget).closest('.recipe-container');
                const sourceContainer = $(event.currentTarget).closest('.source');
                sourceContainer.remove();
                if (recipeContainer.find('.source').length === 0) {
                    recipeContainer.remove();
                }
                toggleAddRecipeButtonVisibility();
            });
            $('#sources-container').on('click', '.remove-byproduct-btn', (event) => {
                const byproductContainer = $(event.currentTarget).closest('.byproduct');
                byproductContainer.remove();
                toggleAddRecipeButtonVisibility();
            });

            $('#sources-container').on('click', '.remove-recipe-btn', (event) => {
                const recipeContainer = $(event.currentTarget).closest('.recipe-container');
                recipeContainer.remove();
                toggleAddRecipeButtonVisibility();
            });

            function toggleAddRecipeButtonVisibility() {
                const recipeContainer = $('.recipe-container').last();
                const numSources = recipeContainer.find('.source').length;
                const numRecipeAttribs = recipeContainer.find('.recipeattrib').length;
                console.log("toggleAddRecipeButtonVisibility(): numSources=", numSources, "numRecipeAttribs=", numRecipeAttribs);
                if (numSources > 0 || numRecipeAttribs > 0) {
                    $('#add-recipe-btn').show();
                } else {
                    $('#add-recipe-btn').hide();
                }
            }
            toggleAddRecipeButtonVisibility();

            $('#add-recipe-btn').click(() => {
                console.log("add-recipe-btn.click()");
                addRecipe();
            });

            function addAttrib(attribId, attribName, isBinary, enumVals, attribVal = 1) {
                const attribHtml = `
                    <tr>
                        <td>${attribName}
                            <input type="hidden" name="attrib_id[]" value="${attribId}">
                        </td><td>
                            ${enumVals.length > 0 
                                ? `<select name="attrib${attribId}_val">
                                    ${enumVals.map((val, index) => `
                                        <option value="${index}" ${attribVal == index ? 'selected' : ''}>${val}</option>
                                    `).join('')}
                                   </select>`
                            : isBinary 
                                ? `<input type="checkbox"
                                          name="attrib${attribId}_val"
                                          value="1" ${attribVal === 1 ? 'checked' : ''}>` 
                                : `<input type="text"
                                          name="attrib${attribId}_val"
                                          value="${attribVal}"
                                          size="8">`}
                        </td><td>
                            <button type="button" class="remove-attrib-btn lesser-button">Remove</button>
                        </td>
                    </tr>
                `;
                $('#attrib-rows').prepend(attribHtml);
                $('#attrib-table').show();
            }
            $('#add-attrib-btn').click(() => {
                const selectedOption = $('#add-attrib-select option:selected');
                const attribId = selectedOption.val();
                const attribName = selectedOption.text();
                const isBinary = selectedOption.data('binary');
                const enumValues = selectedOption.data('enum');
                console.log("enumValues:", enumValues);
                if (attribId === "") {
                    return; // don't add if the selected option is the placeholder
                }
                const existingAttrib = $(`#attrib-rows input[name="attrib_id[]"][value="${attribId}"]`).closest('tr');
                if (existingAttrib.length > 0) {
                    alert('Attribute already exists.');
                    return;
                }
                addAttrib(attribId, attribName, isBinary, enumValues);
            });
            console.log("number of attribs={{ current.attribs.keys() | length }}");
            {% for attrib_id, attrib_of in current.attribs.items() %}
                addAttrib(
                    {{ attrib_id }},
                    "{{ attrib_of.attrib.name }}",
                    {{ attrib_of.attrib.binary | lower }},
                    {{ attrib_of.attrib.enum | tojson }},
                    {{ attrib_of.val | formatNum }});
            {% endfor %}

            $('#attrib-container').on('click', '.remove-attrib-btn', (event) => {
                const attribRow = $(event.currentTarget).closest('tr');
                attribRow.remove();
                if ($('#attrib-rows').children().length === 0) {
                    $('#attrib-table').hide();
                }
            });

            function updateTopLevelCheckbox() {
                const selectedStorageType = $('input[name="storage_type"]:checked').val();
                if (selectedStorageType === 'universal') {
                    $('#top_level').prop('disabled', false);
                } else {
                    $('#top_level').prop('checked', false);
                    $('#top_level').prop('disabled', true);
                }
            }
            updateTopLevelCheckbox();

            $('input[name="storage_type"]').on('change', () => {
                updateTopLevelCheckbox();
            });
        });
    </script>
{% endblock %}
