{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a href="{{ url_for('configure_index') }}">Main Setup Page</a>
    </div>
{% endblock %}

{% block content %}
    <h1>Location Setup</h1>
    <form method="post">
    <p class="info">Room, area, or container where items and characters can be. It takes 3 seconds to travel 1 unit of distance.</p><!-- TODO (maybe): May be subdivided into a grid of positions.-->
        <label for="location-name">Name:</label>
        <input type="text" id="location-name" name="location_name" value="{{ current.name }}" required><br>
        <label for="location-description">Description:</label>
        <textarea id="location-description" name="location_description" rows="4" cols="50">{{ current.description }}</textarea><br>
        <input type="checkbox" id="masked" name="masked" {% if current.masked %}checked{% endif %}>
        <label for="mask">Don't reveal until visited</label><br>
        <label for="dimensions">Grid Dimensions:</label>
        <input type="text" id="dimensions" name="dimensions" value="{{ current.grid.dimensions[0] }}x{{ current.grid.dimensions[1] }}" size="5"> <span class="label-like">width x height</span><br>
        <label for="excluded-left-top">Exclude from Grid:</label>
        <input type="text" id="excluded-left-top" name="excluded_left_top" 
               value="{{ current.grid.excluded[0] }},{{ current.grid.excluded[1] }}" size="5">
        <label for="excluded-right-bottom"> to </label>
        <input type="text" id="excluded-right-bottom" name="excluded_right_bottom" 
               value="{{ current.grid.excluded[2] }},{{ current.grid.excluded[3] }}" size="5">
        <span class="label-like">left,top to right,bottom</span><br>
        <div id="destinations-container" class="outer-border">
            <div>
                {% set outerscope = namespace(has_other_location = false) %}
                {% for location in game_data.locations %}
                    {% if location.id != current.id %}
                        {% set outerscope.has_other_location = true %}
                    {% endif %}
                {% endfor %}
                {% if outerscope.has_other_location %}
                    <!-- Select box for adding another destination -->
                    <script>
                        $(document).ready(function() {
                            // Enable or disable the distance fields based on the selected destination
                            $('#destination-select').change(function() {
                                var selectedOption = $(this).find(':selected');
                                var isDestinationSelected = (selectedOption.val() !== '');
                                $('.distance-field').prop('disabled', !isDestinationSelected);
                            });
                        });
                    </script>
                    <div class="select-box">
                        <select id="destination-select">
                            <option value="" selected>(Select location)</option>
                            {% for location in game_data.locations %}
                                {% if location.id != current.id %}
                                <option value="{{ location.id }}">{{ location.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="button" id="add-destination-btn" class="lesser-button">Add Destination</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No other locations)</p>
                {% endif %}
            </div>
        </div>

        <div id="items-container" class="outer-border">
            <table id="items-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Grid Position</th>
                        <th class="transparent-col"></th>
                    </tr>
                </thead>
                <tbody id="items-rows">
                </tbody>
            </table>
            <div>
                {% if game_data.items %}
                    <!-- Select box for adding another source -->
                    <div class="select-box">
                        <select class="item-select" name="item_select">
                            <option value="" selected>(Select item)</option>
                            {% for item in game_data.items %}
                                {% if item.id not in current.items %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="button" class="add-item-btn lesser-button">Add Item</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No other items)</p>
                {% endif %}
            </div>
        </div>

        <div class="footer-buttons">
            <button type="submit" id="btn-save" name="save_changes">Save and Close</button>
            <button type="submit" id="btn-duplicate" name="make_duplicate">Save and Duplicate</button>
            <button type="submit" id="btn-cancel" name="cancel_changes" formnovalidate>Close without Saving</button>
            <button type="submit" id="btn-delete" name="delete_location" class="dangerous-button">Delete Location</button>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            {% if current.id > 0 %}
                $('#btn-delete').removeAttr('disabled');
            {% else %}
                $('#btn-delete').attr('disabled', 'disabled');
            {% endif %}

            function addDestination(destinationId, destinationName, distance = 1) {
                const destinationHtml = `
                    <div class="destination">
                        <input type="hidden" name="destination_id[]" value="${destinationId}">
                        <p>${destinationName}
                        <label for="destination-distance">Distance:</label>
                        <input type="number" id="destination-distance" name="destination_distance[]" value="${distance}" class="distance-field">
                        <button type="button" class="remove-destination-btn lesser-button">Remove Destination</button>
                        </p>
                    </div>
                `;
                $('#destinations-container').prepend(destinationHtml);
            }
            $('#add-destination-btn').click(function() {
                const selectedOption = $('#destination-select option:selected');
                const destinationId = selectedOption.val();
                const destinationName = selectedOption.text();
                if (destinationId == "") {
                    return; // don't add if the selected option is the placeholder
                }
                let destinationExists = false;
                $('.destination').each(function() {
                    const existingId = $(this).find('input[name="destination_id[]"]').val();
                    if (existingId === destinationId) {
                        destinationExists = true;
                        return false; // exit the each loop
                    }
                });
                if (destinationExists) {
                    alert('Destination already exists.');
                    return;
                }
                addDestination(destinationId, destinationName);
            });
            {% for dest in current.destinations.values() %}
                addDestination(
                    {{ dest.loc.id }},
                    "{{ dest.loc.name }}",
                    "{{ dest.distance | dec2str }}");
            {% endfor %}

            $('#destinations-container').on('click', '.remove-destination-btn', function() {
                var destinationContainer = $(this).closest('.destination');
                destinationContainer.remove();
            });

            function addItem(itemId, itemName, itemQty = 1, itemPos = "0,0") {
                const itemHtml = `
                    <tr>
                        <td>${itemName}
                            <input type="hidden" name="item_id[]" value="${itemId}">
                        </td><td>
                            <input type="number" name="item_qty[]" value="${itemQty}" size="8">
                        </td><td>
                            <input type="text" name="item_pos[]" value="${itemPos}" size="8">
                        </td><td>
                            <button type="button" class="remove-item-btn lesser-button">Remove</button>
                        </td>
                    </tr>
                `;
                $('#items-rows').prepend(itemHtml);
                $('#items-table').show();
            }
            $('.add-item-btn').click(function() {
                const selectBox = $(this).prev('.item-select');
                const selectedOption = selectBox.find(':selected');
                const itemId = selectedOption.val();
                const itemName = selectedOption.text();
                if (itemId === '') {
                    return; // don't add if the selected option is the placeholder
                }
                const existingItem = $('#items-rows input[name="item_id[]"][value="' + itemId + '"]').closest('tr');
                if (existingItem.length > 0) {
                    alert('Item already exists.');
                    return;
                }
                addItem(itemId, itemName);
            });
            console.log("number of items={{ current.items | length }}");
            {% for item_at in current.items.values() %}
                console.log("name={{item_at.item.name}}");
                addItem(
                    {{ item_at.item.id }},
                    "{{ item_at.item.name }}",
                    {{ item_at.quantity | dec2str }},
                    "{{ item_at.position[0] }},{{ item_at.position[1] }}");
            {% endfor %}
            $('#items-rows').on('click', '.remove-item-btn', function() {
                const itemContainer = $(this).closest('tr');
                itemContainer.remove();
            });
        });
    </script>
{% endblock %}
