{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for("overview") }}">Overview</a>
        <span class="separator">|</span>
        <a href="{{ url_for("configure_index") }}">Main Setup Page</a>
    </div>
{% endblock %}
{% block content %}
    <h1>Location Setup</h1>
    <form method="post">
        <p class="info">
            Room, area, or container where items and characters can be.
            May be subdivided into a grid, with position 1,1 as the upper-left corner.
        </p>
        <label for="location-name">Name:</label>
        <input type="text"
               id="location-name"
               name="location_name"
               value="{{ current.name }}"
               required>
        <br>
        <label for="location-description">Description:</label>
        <textarea id="location-description"
                  name="location_description"
                  rows="6"
                  cols="50">{{ current.description }}</textarea>
        <br>
        <input type="checkbox"
               id="top_level"
               name="top_level"
               {% if current.toplevel %}checked{% endif %}>
        <label for="top_level">Show in Overview</label>
        <br>
        <input type="checkbox"
               id="masked"
               name="masked"
               {% if current.masked %}checked{% endif %}>
        <label for="mask">Masked &mdash; reveal when a character travels here</label>
        <br>
        <label for="dimensions">Grid Dimensions:</label>
        <input type="text"
               id="dimensions"
               name="dimensions"
               value="{{ current.grid.dimensions[0] }}x{{ current.grid.dimensions[1] }}"
               size="5">
        <span class="label-like">width x height</span>
        <br>
        <label for="excluded-left-top">Exclude from Grid:</label>
        <input type="text"
               id="excluded-left-top"
               name="excluded_left_top"
               value="{{ current.grid.excluded[:2] }}"
               size="5">
        <label for="excluded-right-bottom">to</label>
        <input type="text"
               id="excluded-right-bottom"
               name="excluded_right_bottom"
               value="{{ current.grid.excluded[2:] }}"
               size="5">
        <span class="label-like">left,top to right,bottom</span>
        <br>
        <div id="destinations-container" class="outer-border">
            <!-- Placeholder for appending new destinations -->
            <div id="destlist_end" class="unobtrusive"></div>
            <div>
                {% set outerscope = namespace(has_other_location = false) %}
                {% for location in game_data.locations %}
                    {% if location.id != current.id %}
                        {% set outerscope.has_other_location = true %}
                    {% endif %}
                {% endfor %}
                {% if outerscope.has_other_location %}
                    <!-- Select box for adding another destination -->
                    <div class="select-box">
                        <select id="dest-select">
                            <option value="" selected>(Select location)</option>
                            {% for location in game_data.locations %}
                                {% if location.id != current.id %}<option value="{{ location.id }}">{{ location.name }}</option>{% endif %}
                            {% endfor %}
                        </select>
                        <button type="button" id="add-dest-btn" class="lesser-button">Add Destination</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No other locations)</p>
                {% endif %}
            </div>
        </div>
        <div class="outer-border">
            <table id="items-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Grid Position</th>
                        <th class="transparent-col"></th>
                    </tr>
                </thead>
                <tbody id="items-rows">
                </tbody>
            </table>
            <div>
                {% set outerscope = namespace(locatable_items=[]) %}
                {% for other_item in game_data.items
                    if other_item.storage_type == 'local'
                    or other_item.storage_type == 'carried' %}
                    {% set _ = outerscope.locatable_items.append(other_item) %}
                {% endfor %}
                {% if outerscope.locatable_items %}
                    <!-- Select box for adding another source -->
                    <div class="select-box">
                        <select id="item-select">
                            <option value="" selected>(Select item)</option>
                            {% for item in outerscope.locatable_items %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="add-item-btn lesser-button">Add Item Here</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No locatable items)</p>
                {% endif %}
            </div>
        </div>
        <div id="itemrefs-container" class="outer-border">
            <table id="itemrefs-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Referenced Items</th>
                        <th class="transparent-col"></th>
                    </tr>
                </thead>
                <tbody id="itemrefs-rows">
                </tbody>
            </table>
            <div>
                {% set outerscope = namespace(universal_items=[]) %}
                {% for item in game_data.items
                    if item.storage_type == 'universal'
                        and item.id not in current.item_refs %}
                    {% set _ = outerscope.universal_items.append(item) %}
                {% endfor %}
                {% if outerscope.universal_items %}
                    <!-- Select box for adding another item reference -->
                    <div class="select-box">
                        <select id="itemref-select">
                            <option value="" selected>(Select item)</option>
                            {% for item in outerscope.universal_items %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="add-itemref-btn lesser-button">Add Referenced Item</button>
                    </div>
                {% else %}
                    <p class="no-entities">(No other universal items)</p>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="footer-buttons">
            <button type="submit" id="btn-save" name="save_changes">Save and Close</button>
            <button type="submit" id="btn-duplicate" name="make_duplicate">Save and Duplicate</button>
            <button type="submit" id="btn-cancel" name="cancel_changes" formnovalidate>Close without Saving</button>
            <button type="submit"
                    id="btn-delete"
                    name="delete_location"
                    class="dangerous-button">Delete Location</button>
        </div>
    </form>
    <script>
        function handleCheckboxChange() {
            const $hiddenInput = $(this).closest('td').find('input[type=hidden][name="oneway[]"]');
            $hiddenInput.val(this.checked ? '1' : '0');
        }

        $(document).ready(() => {
            {% if current.id > 0 %}
                $('#btn-delete').removeAttr('disabled');
            {% else %}
                $('#btn-delete').attr('disabled', 'disabled');
            {% endif %}

            function addDestination(other_loc_id, other_loc_name, duration = "1", door_here = "", other_door = "", bidirectional = true, is_loc1 = true) {
                const destHtml = `
                    <table class="destination"><tr>
                        <td class="align-top" style="padding: 5px;">
                            <input type="hidden"
                                name="other_loc_id[]"
                                value="${other_loc_id}">
                            <input type="hidden"
                                name="is_loc1[]"
                                value="${is_loc1}">
                            ${other_loc_name}
                        </td><td class="align-top">
                            <label for="duration-${other_loc_id}">Duration:</label>
                            <input type="text"
                                id="duration-${other_loc_id}"
                                name="duration[]"
                                value="${duration}"
                                class="duration-field"
                                size="5">
                        </td><td class="align-top">
                            <label for="door-here-${other_loc_id}">Door:</label>
                            <input type="text"
                                id="door-here-${other_loc_id}"
                                name="door_here[]"
                                value="${door_here}"
                                size="8"><br>
                            <input type="hidden" name="other_door[]" value="${other_door}">
                        </td><td class="align-top">
                            ${is_loc1 ? `
                                <!-- set hidden value when checkbox is clicked so that a
                                     oneway[] key will be included in form submission
                                     even when unchecked -->
                                <input type="checkbox" 
                                    id="oneway-${other_loc_id}" 
                                    ${bidirectional ? '' : 'checked'} 
                                    onchange="handleCheckboxChange.call(this)">
                                <label for="oneway-${other_loc_id}">One-Way</label>
                                <input type="hidden" name="oneway[]" value="${bidirectional ? '0' : '1'}">
                            ` : `
                                <input type="hidden" 
                                       name="oneway[]" 
                                       value="${bidirectional ? '0' : '1'}">
                                ${!bidirectional ? '<span>Arrive Only</span>' : ''}
                            `}
                        </td><td class="align-top">
                            ${!(is_loc1 || bidirectional) ? '' : `
                                <button type="button" class="remove-dest-btn lesser-button">
                                    Remove Destination
                                </button>
                            `}
                        </td>
                    </tr></table>
                `;
                $('#destlist_end').before(destHtml);
            }
            $('#add-dest-btn').click(() => {
                const selectedOption = $('#dest-select option:selected');
                const destId = selectedOption.val();
                const destName = selectedOption.text();
                if (destId === "") {
                    return; // don't add if the selected option is the placeholder
                }
                let destExists = false;
                $('.destination').each((index, element) => {
                    const existingId = $(element).find('input[name="dest_id[]"]').val();
                    if (existingId === destId) {
                        destExists = true;
                        return false; // exit the each loop
                    }
                    return true; // continue
                });
                if (destExists) {
                    alert('Destination already exists.');
                    return;
                }
                addDestination(destId, destName);
            });
            $('#destinations-container').on('click', '.remove-dest-btn', (event) => {
                const destContainer = $(event.currentTarget).closest('.destination');
                destContainer.remove();
            });

            function addItem(itemId, itemName, itemQty = "1", itemPos = "") {
                const itemHtml = `
                    <tr>
                        <td>${itemName}
                            <input type="hidden" name="item_id[]" value="${itemId}">
                        </td><td>
                            <input type="text" name="item_qty[]" value="${itemQty}" size="8">
                        </td><td>
                            <input type="text" name="item_pos[]" value="${itemPos}" size="8">
                        </td><td>
                            <button type="button" class="remove-item-btn lesser-button">Remove</button>
                        </td>
                    </tr>
                `;
                $('#items-rows').prepend(itemHtml);
                $('#items-table').show();
            }
            function addItemRef(itemId, itemName) {
                const itemHtml = `
                    <tr>
                        <td>${itemName}
                            <input type="hidden" name="ref_item_id[]" value="${itemId}">
                        </td><td>
                            <button type="button" class="remove-item-btn lesser-button">Remove</button>
                        </td>
                    </tr>
                `;
                $('#itemrefs-rows').prepend(itemHtml);
                $('#itemrefs-table').show();
            }
            $('.add-item-btn').click((event) => {
                const selectBox = $(event.currentTarget).prev('#item-select');
                const selectedOption = selectBox.find(':selected');
                const itemId = selectedOption.val();
                const itemName = selectedOption.text();
                if (itemId === '') {
                    return; // don't add if the selected option is the placeholder
                }
                addItem(itemId, itemName);
            });
            $('.add-itemref-btn').click((event) => {
                const selectBox = $(event.currentTarget).prev('#itemref-select');
                const selectedOption = selectBox.find(':selected');
                const itemId = selectedOption.val();
                const itemName = selectedOption.text();
                if (itemId === '') {
                    return; // don't add if the selected option is the placeholder
                }
                const existingItem = $(`#itemrefs-rows input[name="ref_item_id[]"][value="${itemId}"]`).closest('tr');
                if (existingItem.length > 0) {
                    alert('Item already exists.');
                    return;
                }
                addItemRef(itemId, itemName);
            });

            {% for dest in current.destinations %}
                addDestination(
                    {{ dest.other_loc.id }},
                    "{{ dest.other_loc.name }}",
                    "{{ dest.duration }}",
                    "{{ dest.door_here }}",
                    "{{ dest.other_door }}",
                    {{ dest.bidirectional | lower }},
                    {{ (dest.loc1.id == current.id) | lower }}
                    );
            {% endfor %}
            {% for items_at in current.items_at.values() %}
                {% for item_at in items_at %}
                    addItem(
                        {{ item_at.item.id }},
                        "{{ item_at.item.name }}",
                        "{{ item_at.quantity | formatNum }}",
                        "{{ item_at.position }}");
                {% endfor %}
            {% endfor %}
            {% for item in current.item_refs %}
                addItemRef(
                    {{ item.id }},
                    "{{ item.name }}");
            {% endfor %}

            $('#items-rows, #itemrefs-rows').on('click', '.remove-item-btn', (event) => {
                const itemContainer = $(event.currentTarget).closest('tr');
                itemContainer.remove();
            });
        });
    </script>
{% endblock %}
