{% macro hotkey(key, label, url) %}
<a href="{{ url }}" class="hotkey-link" data-key="{{ key }}">
    <span class="key-indicator">[{{ key }}]</span> {{ label }}
</a>
{% endmacro %}

{% macro render_attr(attrib_val, attrib_def) %}
    {% if attrib_def.is_binary %}
        {{ '✅' if attrib_val.value else '❌' }}
    {% elif attrib_def.enum_list %}
        {# Map numeric value to string in enum list #}
        {{ attrib_def.enum_list[attrib_val.value | int] if attrib_def.enum_list[attrib_val.value | int] else '?' }}
    {% else %}
        {{ attrib_val.value | formatNum }}
    {% endif %}
{% endmacro %}

{% macro hotkey_link(url, link_letters, brackets=False, forced_key=None) -%}
    {% if forced_key %}
        {% set key = forced_key %}
    {% else %}
        {% set key = link_letters.next(url) %}
    {% endif %}
    {% if key -%}
        <script>linkForKey["{{ key }}"] = "{{ url|safe }}";</script>
        <a href="{{ url }}">
            {%- if brackets -%}
                <span class="hotkey-bracket-indicator">[{{ key }}]</span>
            {%- else -%}
                <span class="hotkey-indicator">{{ key }}</span>
            {%- endif -%}
            {{- caller() | trim -}}
        </a>
    {%- endif %}
{%- endmacro %}
