{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for("overview") }}">[o]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for("configure_index") }}">[m]ain setup</a>
        <span class="separator">|</span>
        <a class="upper-left"
           href="{{ url_for('configure_attrib', attrib_id=current.id) }}">attribute s[e]tup</a>
    </div>
{% endblock %}
{% block content %}
    <script>
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
            'm': '{{ url_for('configure_index') }}',
            'e': '{{ url_for('configure_attrib', attrib_id=current.id) }}',
        };
        document.addEventListener('DOMContentLoaded', () => {
            if (isMobile) {
                return;
            }
            document.addEventListener('keypress', (event) => {
                const key = event.key;
                if (key === 'c') {
                    document.getElementById('change-btn').click();
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
            });
        });
    </script>
    <div class="entity-at">
    Attribute of
    {% if subject.typename() == 'char' %}
        {% set link = url_for('play_char', char_id=subject.id) %}
        {% set letter = link_letters.next(link) %}
        <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
        <span class="hotkey-indicator">{{ letter }}</span>
        <a href="{{ link }}">{{ subject.name }}</a>
    {% elif subject.typename() == 'item' %}
        {% set referrer_link = session.get('referrer_link') %}
        {% if referrer_link %}
            &larr;
            {% set link = referrer_link.get('url', '#') | safe %}
        {% else %}
            {% set link = url_for('play_item', item_id=subject.id) %}
        {% endif %}
        {% set letter = link_letters.next(link) %}
        <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
        <span class="hotkey-indicator">{{ letter }}</span>
        <a href="{{ link }}">{{ subject.name }}</a>
    {% elif subject.typename() == 'loc' %}
        {% set link = url_for('play_location', loc_id=subject.id) %}
        {% set letter = link_letters.next(link) %}
        <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
        <span class="hotkey-indicator">{{ letter }}</span>
        <a href="{{ link }}">{{ subject.name }}</a>
    {% endif %}
    </div>
    <h1>{{ current.name }}</h1>
    {% if current.description %}
       {{ current.description|htmlify }}
    {% endif %}
    <hr>
    <form method="post">
        <table>
            <tr>
                <th>Current</th>
                <th>Operation</th>
                <th>New Value</th>
            </tr>
            <tr>
                <td>
                    {% if current.enum %}
                        {% set index_from_val = subject_attrib_val | int %}
                        {% if index_from_val in range(current.enum | length) %}
                            <span title="{{ index_from_val }}">{{ current.enum[index_from_val] }}</span>
                        {% else %}
                            ?
                        {% endif %}
                    {% elif current.binary %}
                        <span title="{{ subject_attrib_val }}">
                        {{ ('&check;' if subject_attrib_val == 1 else 'X') | safe }}
                        </span>
                    {% else %}
                        {{ subject_attrib_val | formatNum }}
                    {% endif %}
                </td>
                <td>
                    {% if current.binary %}
                        toggle
                    {% else %}
                        {% set operators = [["add", "+"], ["sub", "-"], ["mult", "*"], ["div", "/"], ["pow", "Power"], ["log", "Log"]] %}
                        <select name="operator" id="operator">
                            {% for operator in operators %}
                                <option value="{{ operator[0] }}"
                                        {% if session.get('last_operator') == operator[0] %}selected{% endif %}>
                                    {{ operator[1] }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="text"
                               name="operand"
                               id="operand"
                               size="8"
                               value="{{ session.get('last_operand') or 1 }}">
                    {% endif %}
                </td>
                <td>
                    =
                    {% if current.enum %}
                        {% set index_from_val = subject_attrib_val | int %}
                        <select name="result"
                                id="result">
                            {% for index in range(current.enum | length) %}
                                {% set identifier = current.enum[index] %}
                                <option value="{{ index }}" {% if index == index_from_val %}selected{% endif %}>{{ identifier }}</option>
                            {% endfor %}
                        </select>
                    {% elif current.binary %}
                        <input type="hidden"
                               name="result"
                               id="result"
                               value="{{ 1 - subject_attrib_val }}">
                        <span title="{{ 1 - subject_attrib_val }}">
                        {{ ('X' if subject_attrib_val == 1 else '&check;') | safe }}
                        </span>
                    {% else %}
                        <input type="text"
                               name="result"
                               id="result"
                               size="8"
                               value="{{ subject_attrib_val | formatNum }}">
                    {% endif %}
                </td>
                <td>
                    <button type="submit" name="change" id="change-btn">[C]hange</button>
                </td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready(() => {
            function calculate() {
                const subjectAttribVal = {{ subject_attrib_val }};
                const operator = $('#operator').val();
                const operand = parseFloat($('#operand').val());
                let result = subjectAttribVal;
                switch (operator) {
                    case 'add':
                        result += operand;
                        {% if current.enum %}
                            result = (result + {{ current.enum | length }}) % {{ current.enum | length }};
                        {% endif %}
                        break;
                    case 'sub':
                        result -= operand;
                        {% if current.enum %}
                            result = (result + {{ current.enum | length }}) % {{ current.enum | length }};
                        {% endif %}
                        break;
                    case 'mult':
                        result *= operand;
                        break;
                    case 'div':
                        if (operand !== 0) {
                            result /= operand;
                        } else {
                            alert("Division by zero is not allowed.");
                            return;
                        }
                        break;
                    case 'pow':
                        result = Math.pow(subjectAttribVal, operand);
                        break;
                    case 'log':
                        if (subjectAttribVal > 0 && operand > 0) {
                            result = Math.log(subjectAttribVal) / Math.log(operand);
                        } else {
                            alert("Logarithms require positive numbers.");
                            return;
                        }
                        break;
                    default:
                        result = subjectAttribVal;
                }
                console.log(`Operator: ${operator}, Operand: ${operand}, Result: ${result}`);
                {% if current.enum %}
                    $('#result').prop('selectedIndex', result);
                {% else %}
                    $('#result').val(result);
                {% endif %}
            }
            $('#operator, #operand').on('change', calculate);
            {% if not current.binary %}
                calculate(); // on page load
            {% endif %}
        });
    </script>
{% endblock %}
