{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for("overview") }}">[O]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for("configure_index") }}">[M]ain Setup</a>
        <span class="separator">|</span>
        <a class="upper-left"
           href="{{ url_for('configure_attrib', attrib_id=current.id) }}">Attribute S[e]tup</a>
    </div>
{% endblock %}
{% block content %}
    <script>
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
            'm': '{{ url_for('configure_index') }}',
            'e': '{{ url_for('configure_attrib', attrib_id=current.id) }}',
        };
        document.addEventListener('DOMContentLoaded', () => {
            document.addEventListener('keypress', (event) => {
                const key = event.key.toLowerCase();
                if (key === 'c') {
                    document.getElementById('change-btn').click();
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
            });
        });
    </script>
    {% if subject.typename() == 'char' %}
        {% set link = url_for('play_char', char_id=subject.id) %}
    {% elif subject.typename() == 'item' %}
        {% set link = url_for('play_item', item_id=subject.id) %}
    {% else %}
        Unexpected type {{ subject.typename() }}
    {% endif %}
    {% set letter = link_letters.next(link) %}
    <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
    Attribute of
    <a href="{{ link }}">{{ subject.name }}</a>
    <span>[{{ letter }}]</span>
    <br>
    <h2>{{ current.name }}</h2>
    {% if current.description %}
        <pre style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;"
            >{{ current.description|htmlify }}</pre>
    {% endif %}
    <hr>
    <form method="post">
        <table>
            <tr>
                <th>Current</th>
                <th>Operation</th>
                <th>New Value</th>
            </tr>
            <tr>
                <td>{{ subject_attrib_val | formatNum }}</td>
                <td>
                    {% set operators = [["add", "+"], ["sub", "-"], ["mult", "*"], ["div", "/"], ["pow", "Power"], ["log", "Log"]] %}
                    <select name="operator" id="operator">
                        {% for operator in operators %}
                            <option value="{{ operator[0] }}"
                                    {% if session.get('last_operator') == operator[0] %}selected{% endif %}>
                                {{ operator[1] }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text"
                           name="operand"
                           id="operand"
                           size="8"
                           value="{{ session.get('last_operand', 1) }}">
                </td>
                <td>
                    =
                    <input type="text"
                           name="result"
                           id="result"
                           size="8"
                           value="{{ subject_attrib_val | formatNum }}">
                </td>
                <td>
                    <button type="submit" name="change" id="change-btn">[C]hange</button>
                </td>
            </tr>
            {% if current.enum %}
                {% set index_from_val = subject_attrib_val | int %}
                <tr>
                    <td>
                        {% if index_from_val in range(current.enum | length) %}
                            {{ current.enum[index_from_val] }}
                        {% else %}
                            ?
                        {% endif %}
                    </td>
                    <td></td>
                    <td>
                        <select id="enum_list">
                            {% for index in range(current.enum | length) %}
                                {% set identifier = current.enum[index] %}
                                <option value="{{ index }}" {% if index == index_from_val %}selected{% endif %}>{{ identifier }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
    <script>
        $(document).ready(() => {
            function calculate() {
                const subjectAttribVal = {{ subject_attrib_val }};
                const operator = $('#operator').val();
                const operand = parseFloat($('#operand').val());
                let result = subjectAttribVal;
                switch (operator) {
                    case 'add':
                        result += operand;
                        {% if current.enum %}
                            //result = result % {{ current.enum | length }};
                            result = (result + {{ current.enum | length }}) % {{ current.enum | length }};
                        {% endif %}
                        break;
                    case 'sub':
                        result -= operand;
                        {% if current.enum %}
                            //if (result < 0) {
                                result = (result + {{ current.enum | length }}) % {{ current.enum | length }};
                            //}
                        {% endif %}
                        break;
                    case 'mult':
                        result *= operand;
                        break;
                    case 'div':
                        if (operand !== 0) {
                            result /= operand;
                        } else {
                            alert("Division by zero is not allowed.");
                            return;
                        }
                        break;
                    case 'pow':
                        result = Math.pow(subjectAttribVal, operand);
                        break;
                    case 'log':
                        if (subjectAttribVal > 0 && operand > 0) {
                            result = Math.log(subjectAttribVal) / Math.log(operand);
                        } else {
                            alert("Logarithms require positive numbers.");
                            return;
                        }
                        break;
                    default:
                        result = subjectAttribVal;
                }
                //$('#result').val(result.toFixed(2));
                $('#result').val(result);
                {% if current.enum %}
                    $('#enum_list').prop('selectedIndex', result);
                {% endif %}
            }
            $('#operator, #operand').on('change', calculate);
            calculate(); // on page load

            $('#enum_list').change((event) => {
                const selectedOption = $(event.currentTarget).find(':selected');
                const enumVal = parseFloat(selectedOption.val()) || 0;
                $('#result').val(enumVal);
            });
        });
    </script>
{% endblock %}
