{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for('overview') }}">[o]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure_index') }}">[m]ain setup</a>
        <span class="separator">|</span>
        <a class="upper-left"
           href="{{ url_for('configure_char', char_id=current.id) }}">character s[e]tup</a>
    </div>
{% endblock %}
{% block content %}
    <div id="content" style="display:none;">
        <script>
        let isModalOpen = false;
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
            'm': '{{ url_for('configure_index') }}',
            'e': '{{ url_for('configure_char', char_id=current.id) }}',
        };
        document.addEventListener('DOMContentLoaded', () => {
            if (isMobile) {
                return;
            }
            document.addEventListener('keypress', (event) => {
                if (isModalOpen) {
                    return;
                }
                const key = event.key;
                if (key === 'g') {
                    const btn = $('#do-travel-btn');
                    if (btn.is(':visible')) {
                        btn.click();
                    }
                } else if (key === 's') {
                    const btn = $('#start-travel-btn');
                    if (btn.is(':visible')) {
                        btn.click();
                    }
                } else if (key === 't') {
                    const $selectBox = $('#destination-select');
                    if ($selectBox.length > 0) {
                        $selectBox.focus();
                        const selectBox = $selectBox[0];
                        if (selectBox.selectedIndex === 0) {
                            selectBox.selectedIndex = 1;
                            $selectBox.trigger('change');
                        }
                    }
                } else if (key === 'w') {
                    const $selectBox = $('#travel-with-select');
                    $selectBox.focus();
                    const selectBox = $selectBox[0];
                    if (selectBox.selectedIndex === 0) {
                        selectBox.selectedIndex = 1;
                    }
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
                event.preventDefault();
                event.stopPropagation();
            });
        });
        </script>
        <h1>{{ current.name }}</h1>
        {% if current.description %}<p>{{ current.description|htmlify }}</p>{% endif %}
        {% if current.location %}
            <h2>Location</h2>
            <ul>
                {% set link = url_for('play_location', loc_id=current.location.id, char_id=current.id) | safe %}
                {% set letter = link_letters.next(link) %}
                <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
                <span class="hotkey-indicator">{{ letter }}</span>
                <a href="{{ link }}">{{ current.location.name }}</a>
                {% if max(current.position) %}
                    <span class="label-like">[{{ current.position }}]</span>
                {% endif %}
                {% if current.location.destinations %}
                    <div class="flexdiv">
                        <label for="destination-select">Travel [T]o:</label>
                        <select id="destination-select" class="select-box">
                            <option value="" data-duration="-1">(Select destination)</option>
                            {% for dest in current.location.destinations %}
                                <option value="{{ dest.other_loc.id }}"
                                        data-duration="{{ dest.duration }}"
                                        {% if current.dest_loc and current.dest_loc.id == dest.other_loc.id %}selected{% endif %}>
                                    {% if dest.other_loc.masked %}
                                        a location not yet visited
                                    {% else %}
                                        {{ dest.other_loc.name }}
                                        {% if dest.duration == 0 %}(here){% endif %}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="button" id="do-travel-btn" style="display: none">[G]o</button>
                        <div id="destination-progress" class="flexdiv expand" style="display: none">
                            <button type="button"
                                    class="go-button"
                                    id="start-travel-btn">[S]tart</button>
                            <div class="progress-container">
                                <progress class="progress-bar" max="100" value="0"></progress>
                                <span class="progress-label">0 / 0</span>
                            </div>
                        </div>
                    </div>
                    <div id="travel-with-container" class="flexdiv">
                        <label for="travel-with-select">Travel [W]ith:</label>
                        <select id="travel-with-select" class="select-box">
                            <option value="">(No one else)</option>
                            {% for group_name, ids_str in travel_groups %}
                                <option value="{{ ids_str }}"
                                        {% if ids_str == defaults.travel_with %}selected{% endif %}>
                                    {{ group_name }}
                                </option>
                            {% endfor %}
                            {% for char in game_data.characters if char.id != current.id %}
                                <option value="{{ char.id }}"
                                        {% if char.id|string == defaults.travel_with %}selected{% endif %}>
                                    {{ char.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% elif current.has_nonadjacent %}
                    <div class="label-like">Destinations nearby; move to a door to travel.</div>
                {% endif %}
            </ul>
        {% endif %}
        {% set has = namespace(chars=False) %}
        {% for owned in current.owned_items.values() if owned.quantity != 0 and owned.slot %}
            {% set has.equipped_items = True %}
        {% endfor %}
        {% if has.equipped_items %}
            <h2>Equipped Items</h2>
            <ul>
                {% for owned in current.owned_items.values() if owned.quantity != 0 and owned.slot %}
                    {% set item = owned.item %}
                    {% set link = url_for('play_item', item_id=item.id, char_id=current.id, main='carried') | safe %}
                    {% set letter = link_letters.next(link) %}
                    <script>linkForKey['{{ letter }}'] = "{{ link|safe }}";</script>
                    <span class="item-name">
                        <span class="hotkey-indicator">{{ letter }}</span>
                        <a href="{{ link }}">{{ item.name }}</a>
                    </span>
                    <span class="item-quantity" id="item-{{ item.id }}-quantity">
                        {% if not (owned.item.q_limit == 1 and owned.quantity == 1) %}{{ owned.quantity | formatNum }}{% endif %}
                    </span>
                    <span class="item-slot" id="item-{{ item.id }}-slot">&mdash; {{ owned.slot }}</span>
                    <br>
                {% endfor %}
            </ul>
        {% endif %}
        {% for owned in current.owned_items.values() if owned.quantity != 0 and not owned.slot %}
            {% set has.owned_items = True %}
        {% endfor %}
        {% if has.owned_items %}
            <h2>Inventory Items</h2>
            <ul>
                {% for owned in current.owned_items.values() if owned.quantity != 0 and not owned.slot %}
                    {% set item = owned.item %}
                    {% set link = url_for('play_item', item_id=item.id, char_id=current.id, main='carried') | safe %}
                    {% set letter = link_letters.next(link) %}
                    <script>linkForKey['{{ letter }}'] = "{{ link|safe }}";</script>
                    <span class="item-name">
                        <span class="hotkey-indicator">{{ letter }}</span>
                        <a href="{{ link }}">{{ item.name }}</a>
                    </span>
                    <span class="item-quantity" id="item-{{ item.id }}-quantity">
                        {% if not (owned.item.q_limit == 1 and owned.quantity == 1) %}{{ owned.quantity | formatNum }}{% endif %}
                    </span>
                    <br>
                {% endfor %}
            </ul>
        {% endif %}
        {% if current.events %}
            <h2>Abilities</h2>
            <ul>
                {% for evt_id in current.events %}
                    {% set evt = game_data.events[evt_id] %}
                    {% set link = url_for('play_event', event_id=evt.id, from_id=current.id, from_typename=current.typename()) | safe %}
                    {% set letter = link_letters.next(link) %}
                    <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
                    <span class="hotkey-indicator">{{ letter }}</span>
                    <a href="{{ link }}">{{ evt.name }}</a>
                    <br>
                {% else %}
                    <p>(None)</p>
                {% endfor %}
            </ul>
        {% endif %}
        {% if current.attribs %}
            <h2>Attributes</h2>
            <ul>
                {% for attrib_of in current.attribs.values() %}
                    {% set link = url_for('play_attrib', attrib_id=attrib_of.attrib_id, subject_type='char', subject_id=current.id) | safe %}
                    {% set letter = link_letters.next(link) %}
                    <script>linkForKey['{{ letter }}'] = "{{ link|safe }}";</script>
                    <span class="hotkey-indicator">{{ letter }}</span>
                    <a href="{{ link }}">{{ attrib_of.attrib.name }}</a>
                    {% if attrib_of.attrib.enum %}
                        {% set index = attrib_of.val | int %}
                        {% if index in range(attrib_of.attrib.enum | length) %}
                            {{ attrib_of.attrib.enum[index] }}
                        {% else %}
                            ?
                        {% endif %}
                    {% elif attrib_of.attrib.binary %}
                        {{ ('&check;' if attrib_of.val else 'X') | safe }}
                    {% else %}
                        {{ attrib_of.val | formatNum }}
                    {% endif %}
                    <br>
                {% endfor %}
            </ul>
        {% endif %}
        {% include 'play/custom_confirm.html' %}
        <script>
        $(document).ready(() => {
            function showhide_dest(setProgressLabel=true) {
                const destSel = $('#destination-select');
                if (!destSel.length) {
                    return;
                }
                const selectedDestId = destSel.val();
                const selectedOption = destSel.find(':selected');
                const duration = selectedOption.data('duration') || 0;
                const destInfo = $('#destination-progress');
                const goBtn = $('#do-travel-btn');
                const progressLabel = $('.progress-label');
                if (selectedDestId) {
                    if (duration >= 2) {
                        destInfo.show();
                        goBtn.hide();
                        if (setProgressLabel) {
                            progressLabel.text(`0 / ${duration}`);
                        }
                    } else {
                        destInfo.hide();
                        goBtn.show();
                    }
                } else {
                    destInfo.hide();
                    goBtn.hide();
                }
            }

            let exitNow = false;
            let travelProgressData = null;
            let progressLastFetchedAt = 0;
            let smoothElapsed = 0;

            function updateTravelProgress(new_data = null) {
                if (new_data) {
                    travelProgressData = new_data;
                }
                const data = travelProgressData;
                if (!data) {
                    return;
                }
                if (data && 'status' in data && data.status === 'interrupt') {
                    handleInterrupt(data);
                    return;
                }
                const current_loc_id = {{ current.location.id if current.location else 0 }};
                if (data && current_loc_id !== data.current_loc_id) {
                    console.log('Reloading to go to updated location:', current_loc_id, data.current_loc_id);
                    localStorage.removeItem('ignore_event_id');
                    location.reload();
                    stopFetchingProgress();
                    exitNow = true;
                    return;
                }
                const destSel = $('#destination-select');
                const selectedDestId = destSel.val();
                const ongoing = (data && data.status === 'ongoing' && data.is_ongoing)
                if (ongoing && selectedDestId !== data.dest_id) {
                    destSel.val(data.dest_id);
                }
                const selectedOption = destSel.find(':selected');
                const duration = selectedOption.data('duration');
                const goBtn = $('#do-travel-btn');
                const destInfo = $('#destination-progress');
                const progressBar = $('.progress-bar');
                const progressLabel = $('.progress-label');
                if (selectedDestId || ongoing) {
                    if (data && 'status' in data && data.status === 'arrived') {
                        console.log('Arrived; reloading.');
                        localStorage.removeItem('ignore_event_id');
                        location.reload();
                        stopFetchingProgress();
                        exitNow = true;
                        return;
                    } else if (duration >= 2) {
                        let serverElapsed = data && 'elapsed_time' in data ? Math.floor(data.elapsed_time) : 0;
                        const clientElapsed = (performance.now() - progressLastFetchedAt) / 1000;
                        let totalElapsed = serverElapsed + clientElapsed;
                        if (totalElapsed > duration) {
                            totalElapsed = duration;
                        }
                        const lerpFactor = 0.03;  // correction speed
                        smoothElapsed = smoothElapsed + lerpFactor * (totalElapsed - smoothElapsed);
                        const progressFraction = smoothElapsed / duration;
                        progressBar.attr('value', progressFraction * 100);
                        progressLabel.text(`${Math.floor(smoothElapsed)} / ${duration}`);
                    }
                }
                showhide_dest(false);
                updateStartButtonLabel(data);
            }

            function updateStartButtonLabel(data) {
                const startBtn = $('#start-travel-btn');
                const destSel = $('#destination-select');
                const ongoing = (data && data.is_ongoing);
                if (!startBtn.length || !destSel.length) {
                    return;
                }
                if (ongoing) {
                    startBtn.html("[S]top")
                            .addClass("dangerous-button")
                            .removeClass("go-button");
                    destSel.prop('disabled', true);
                } else {
                    startBtn.html("[S]tart")
                            .addClass("go-button")
                            .removeClass("dangerous-button");
                    destSel.prop('disabled', false);
                }
            }

            async function fetchProgressData() {
                const startBtn = $('#start-travel-btn');
                const destSel = $('#destination-select');
                if (!startBtn.length || !destSel.length || startBtn.html() !== "[S]top") {
                    return;
                }
                const ignoreEventId = localStorage.getItem('ignore_event_id') || '';
                const url = `/char/progress/{{ current.id }}`;
                const data = await new Promise((resolve, reject) => {
                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: {
                            ignore_event: ignoreEventId,
                            travel_with: $('#travel-with-select').val()
                        },
                        success: (response) => {
                            resolve(response);
                        },
                        error: (xhr, status, error) => {
                            reject(error);
                        }
                    });
                });
                console.log('Received data:', data);
                if (data) {
                    progressLastFetchedAt = performance.now();
                    updateTravelProgress(data);
                }
            }
            let intervalIds = [];
            function startFetchingProgress() {
                if (intervalIds.length === 0) {
                    intervalIds = [
                        setInterval(fetchProgressData, 1000), 
                        setInterval(updateTravelProgress, 20)
                    ];
                }
            }
            function stopFetchingProgress() {
                intervalIds.forEach(clearInterval);
                intervalIds = [];
            }

            function showContent() {
                $('#content').css('display', 'block');
            }
            async function initializePage() {
                await fetchProgressData();
                if (travelProgressData) {
                    startFetchingProgress();
                }
                const $selectBox = $('#destination-select');
                if ($selectBox.length > 0) {
                    const selectBox = $selectBox[0];
                    if (selectBox.selectedIndex === 0) {
                        selectBox.selectedIndex = 1;
                    }
                }
                showhide_dest();
                showContent();
            }
            initializePage();

            $('#destination-select').change(() => {
                fetchProgressData();
                if (exitNow) {
                    return;
                }
                showhide_dest();
            });
            $('#do-travel-btn').click(() => {
                console.log('goChar(): {{ current.id }}');
                $.ajax({
                    url: `/char/go/{{ current.id }}`,
                    method: 'post',
                    data: {
                        dest_id: $('#destination-select').val(),
                        travel_with: $('#travel-with-select').val()
                    },
                    success: (response) => {
                        if (response.status === 'error') {
                            console.error(response.message);
                            alert(response.message);
                        }
                        localStorage.removeItem('ignore_event_id');
                        location.reload();
                    },
                    error: (error) => {
                        console.error('Error:', error);
                        alert(`Error: ${error}`);
                    }
                });
            });
            $('#start-travel-btn').click(() => {
                // Start the progress for the selected destination
                console.log('startChar(): {{ current.id }}');
                const startBtn = $('#start-travel-btn');
                if (startBtn.text() === "[S]tart") {
                    startTravel();
                } else {
                    stopTravel();
                }
            });
            function startTravel() {
                $.ajax({
                    url: '/char/start/{{ current.id }}',
                    method: 'POST',
                    data: {
                        dest_id: $('#destination-select').val(),
                        travel_with: $('#travel-with-select').val()
                    },
                    success: function(response) {
                        console.log(response.message);
                        if (response.status === 'error') {
                            alert(response.message);
                        }
                        updateStartButtonLabel(response);
                        startFetchingProgress();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            }
            function stopTravel() {
                console.log('stopChar(){{ current.id }}');
                $.ajax({
                    url: `/char/stop/{{ current.id }}`,
                    method: 'POST',
                    data: {
                        travel_with: $('#travel-with-select').val()
                    },
                    success: function(response) {
                        console.log(response.message);
                        if (response.status === 'error') {
                            alert(response.message);
                        }
                        stopFetchingProgress();
                        travelProgressData = null;
                        updateTravelProgress();
                        updateStartButtonLabel();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            }

            async function handleInterrupt(data) {
                stopFetchingProgress();
                stopTravel();
                await showCustomConfirm(data.message);
                localStorage.setItem('ignore_event_id', data.event_id);
                const baseEventUrl = "{{ url_for('play_event', event_id=MAX_INT_32, from_id=current.id, from_typename=current.typename()) | safe }}"
                const url = baseEventUrl.replace('{{ MAX_INT_32 }}', data.event_id);
                console.log("Confirmed to go to ", url);
                window.location.href = url;
            }
        });
        </script>
    </div>
    <!-- content -->
{% endblock %}
