{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for('overview') }}">[O]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure') }}">General Setup</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure_char', char_id=current.id) }}">Character Setup</a>
    </div>
{% endblock %}

{% block content %}
    <script>
        let isModalOpen = false;
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
        };
        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('keypress', function (event) {
                if (isModalOpen) {
                    return;
                }
                const key = event.key.toLowerCase();
                if (key === 's') {
                    document.getElementById('start-travel-btn').click();
                } else if (key === 't') {
                    const selectBox = document.getElementById('destination-select');
                    selectBox.focus();
                    if (selectBox.selectedIndex === 0) {
                        selectBox.selectedIndex = 1;  // first location in list
                        fetchProgressData();
                    }
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
            });
        });
    </script>
    <h1>{{ current.name }}</h1>
    {% if current.description %}
        <p>{{ current.description }}</p>
    {% endif %}
    <!--
    if current.for_player
    <p>Character for current.for_player|capitalize </p>
    -->

    {% if current.location %}
        <h2>Location</h2>
        <ul>
        {% set link = url_for('play_location', loc_id=current.location.id, char_id=current.id) %}
        {% set letter = link_letters.next(link) %}
        <script>
            linkForKey['{{ letter }}'] = "{{ link }}";
        </script>
        <span>[{{ letter }}]</span>
        <a href="{{ link }}">{{ current.location.name }}</a>
        {% if current.location.destinations %}
            <div class="flexdiv">
                <label for="destination-select">[T]ravel To</label>
                <select id="destination-select" class="select-box">
                    <option value="" data-distance="-1">(Select destination)</option>
                    {% for destination, distance in current.location.destinations.items() %}
                        <option value="{{ destination.id }}" data-distance="{{ distance | dec2str }}"
                            {% if current.destination and destination.id == current.destination.id %}
                                selected
                            {% endif %}
                        >
                            {{ destination.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div id="destination-info" class="flexdiv">
                <div class="progress-container">
                    <progress class="progress-bar" max="100" value="0"></progress>
                    <span class="progress-label">0 / 0</span>
                </div>
                <button id="start-travel-btn">[S]tart</button>
                <button id="stop-travel-btn">Stop</button>
            </div>
        {% endif %}
        </ul>
    {% endif %}

    <h2>Equipped Items</h2>
    <ul>
        {% for owned in current.items if owned.slot %}
            {% set item = owned.item %}
            {% set link = url_for('play_item', item_id=item.id, char_id=current.id) %}
            {% set letter = link_letters.next(link) %}
            <script>
                linkForKey['{{ letter }}'] = "{{ link }}";
            </script>
            <span class="item-name">
                <span>[{{ letter }}]</span>
                <a href="{{ link }}">
                    {{ item.name }}
                </a>
            </span>
            <span class="item-slot" id="item-{{ item.id }}-slot">
                &mdash; {{ owned.slot }}
            </span><br>
        {% else %}
            (None)<br>
        {% endfor %}
    </ul>

    <h2>Inventory Items</h2>
    <ul>
        {% for owned in current.items if not owned.slot %}
            {% set item = owned.item %}
            {% set link = url_for('play_item', item_id=item.id, char_id=current.id) %}
            {% set letter = link_letters.next(link) %}
            <script>
                linkForKey['{{ letter }}'] = "{{ link }}";
            </script>
            <span class="item-name">
                <span>[{{ letter }}]</span>
                <a href="{{ link }}">{{ item.name }}</a>
            </span>
            <span class="item-quantity" id="item-{{ item.id }}-quantity">
                {% if not (owned.item.q_limit == 1 and owned.quantity == 1) %}
                    {{ owned.quantity | dec2str }}
                {% endif %}
            </span><br>
        {% else %}
            (None)<br>
        {% endfor %}
    </ul>

    <h2>Attributes</h2>
    <ul>
        {% for attrib, attrib_val in current.attribs.items() %}
            <li>{{ attrib.name }} {{ attrib_val | dec2str }}</li>
        {% else %}
            (None)<br>
        {% endfor %}
    </ul>

    <div id="custom-confirm-modal" class="modal">
        <div class="modal-content">
            <p id="custom-confirm-message"></p>
            <div class="modal-buttons">
                <button id="custom-confirm-yes">[Y]es</button>
                <button id="custom-confirm-no">[N]o</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function showCustomConfirm(message) {
                return new Promise((resolve, reject) => {
                    const modal = document.getElementById('custom-confirm-modal');
                    const messageElement = document.getElementById('custom-confirm-message');
                    const yesButton = document.getElementById('custom-confirm-yes');
                    const noButton = document.getElementById('custom-confirm-no');
                    messageElement.innerHTML = message;
                    modal.style.display = 'block';
                    isModalOpen = true;
                    function handleKeydown(event) {
                        const key = event.key.toLowerCase();
                        if (event.key === 'y') {
                            yesButton.click();
                        } else if (event.key === 'n') {
                            noButton.click();
                        }
                    }
                    document.addEventListener('keydown', handleKeydown);
                    yesButton.onclick = function() {
                        modal.style.display = 'none';
                        document.removeEventListener('keydown', handleKeydown);
                        isModalOpen = false;
                        resolve(true);  // confirm
                    };
                    noButton.onclick = function() {
                        modal.style.display = 'none';
                        document.removeEventListener('keydown', handleKeydown);
                        isModalOpen = false;
                        resolve(false);  // cancel
                    };
                });
            }

            async function handleInterrupt(data) {
                stopFetchingProgress();
                const confirmed = await showCustomConfirm(data.message);
                if (confirmed) {
                    const baseEventUrl = "{{ url_for('play_event', event_id='-1') }}";
                    const url = baseEventUrl.replace('-1', data.event_id);
                    console.log("Confirmed to go to ", url);
                    stopTravel();
                    window.location.href = url;
                } else {
                    localStorage.setItem('ignore_event_id', data.event_id);
                    startFetchingProgress();
                }
            }
            function updateTravelProgress(data) {
                if (data.hasOwnProperty('status') && data.status === 'interrupt') {
                    handleInterrupt(data);
                    return;
                }
                const current_loc_id = {{
                    current.location.id if current.location else 0 }}
                if (current_loc_id != data.current_loc_id) {
                    console.log('Reloading to go to updated location.');
                    location.reload();
                    return
                }
                const destSel = $('#destination-select');
                const selectedDestId = destSel.val();
                const ongoing = (data && data.status === 'ongoing' && data.is_ongoing)
                if (ongoing && selectedDestId != data.dest_id) {
                    destSel.val(data.dest_id);
                }
                const selectedOption = destSel.find(":selected");
                const distance = selectedOption.data("distance");
                const destInfo = $('#destination-info');
                const progressBar = $('.progress-bar');
                const progressLabel = $('.progress-label');
                if (selectedDestId || ongoing) {
                    if (data.hasOwnProperty('status') && data.status === 'arrived') {
                        console.log('Arrived; reloading.');
                        location.reload();
                    //TODO: rethink how this should work
                    //} else if (data.hasOwnProperty('status') && data.status === 'error' && data.message === 'No travel destination.') {
                    //    console.log(data.message);
                    } else {
                        const quantity = data.hasOwnProperty('quantity') ? data.quantity : 0;
                        const progressPercentage = (quantity / distance) * 100;
                        progressBar.attr('value', progressPercentage);
                        progressLabel.text(quantity + ' / ' + distance);
                        destInfo.show();
                    }
                } else {
                    destInfo.hide();
                }
            }

            // the Start button may change to "Running..."
            function updateStartbuttonLabel(data) {
                const startBtn = document.getElementById("start-travel-btn");
                const stopBtn = document.getElementById("stop-travel-btn");
                const destSel = document.getElementById("destination-select");
                const ongoing = (data && data.status === 'ongoing' && data.is_ongoing)
                if (ongoing) {
                    startBtn.innerHTML = "Travelling...";
                    startBtn.disabled = true;
                    stopBtn.disabled = false;
                    destSel.disabled = true;
                } else {
                    startBtn.innerHTML = "[S]tart";
                    startBtn.disabled = false;
                    stopBtn.disabled = true;
                    destSel.disabled = false;
                }
            }

            // Fetch progress data and update all relevant information
            function fetchProgressData() {
                const ignoreEventId = localStorage.getItem('ignore_event_id') || '';
                const url = `/char/progress_data/{{ current.id }}${ignoreEventId ? `?ignore_event=${ignoreEventId}` : ''}`;
                $.get(url, function(data) {
                    console.log('Received data:', data);
                    updateTravelProgress(data);
                    updateStartbuttonLabel(data);
                });
            }
            let intervalId;
            function startFetchingProgress() {
                intervalId = setInterval(fetchProgressData, 2000);
            }
            function stopFetchingProgress() {
                clearInterval(intervalId);
            }

            // Initial setup when page loads
            localStorage.removeItem('ignore_event_id');
            fetchProgressData();
            startFetchingProgress();

            $('#destination-select').change(function() {
                fetchProgressData();
            });
            $('#start-travel-btn').click(function() {
                // Start the progress for the selected destination
                const destinationId = $('#destination-select').val();
                console.log('startItem(): ' + {{ current.id }});
                $.ajax({
                    url: '/char/start/' + {{ current.id }},
                    method: 'POST',
                    data: { dest_id: destinationId },
                    success: function(response) {
                        if (response.status === 'error') {
                            console.error(response.message);
                            alert(response.message);
                        }
                        updateStartbuttonLabel();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    },
                    complete: function() {
                        fetchProgressData();
                    }
                });
            });
            function stopTravel() {
                // Stop the progress
                console.log('stopItem(): ' + {{ current.id }});
                fetch('/char/stop/' + {{ current.id }})
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        updateStartbuttonLabel();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
            $('#stop-travel-btn').click(function() {
                stopTravel();
            });
        });
    </script>
{% endblock %}
