{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for('overview') }}">[O]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure_index') }}">[M]ain Setup</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure_event', event_id=current.id) }}">Event S[e]tup</a>
    </div>
{% endblock %}

{% block content %}
    <script>
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
            'm': '{{ url_for('configure_index') }}',
            'e': '{{ url_for('configure_event', event_id=current.id) }}',
        };
        const funcForKey = {};
        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('keypress', function (event) {
                const key = event.key.toLowerCase();
                if (key === 'r') {
                    document.getElementById('roll-btn').click();
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                } else if (funcForKey[key]) {
                    funcForKey[key]();
                }
            });
        });
    </script>
    <h1>{{ current.name }}</h1>
    {% if current.description %}
        <p>{{ current.description|htmlify }}</p>
    {% endif %}
    <table class="spacious">
        <tr>
            <td>
                <form method="POST" action="{{ url_for('play_event', event_id=current.id) }}">
                    {% if current.outcome_type == 'fourway' %}
                        <label for="difficulty" style="padding-left: 10px;">Difficulty:</label>
                        <select id="difficulty" name="difficulty">
                            <option value="5">Easy (5)</option>
                            <option value="10">Moderate (10)</option>
                            <option value="15">Hard (15)</option>
                            <option value="20">Very Hard (20)</option>
                        </select><br>
                    {% endif %}
                    {% if current.outcome_type == 'fourway' or current.outcome_type == 'numeric' %}
                        <div style="background-color: black; margin: 3px; padding: 10px">
                        <label for="stat_adjustment">Stat Adjustment:</label>
                        <input type="text" id="stat_adjustment" name="stat_adjustment" value="{{ current.stat_adjustment }}">
                        <br>
                        {% for attrib in current.determining_attrs %}
                            <li style="margin-top: 5px">{{ attrib.name }}
                            <select class="char-for-attrib" id="char-for-attrib_{{ attrib.id }}">
                                <option value="" selected>(Select character)</option>
                                {% for char in game_data.characters if attrib.id in char.attribs %}
                                    {% set attrib_val = char.attribs[attrib.id].val | formatNum %}
                                    <option value="{{ attrib_val }}" {% if char.id == session['last_char_id'] %}selected{% endif %}>{{ char.name }} {{ attrib_val }}</option>
                                {% endfor %}
                            </select>
                            {% set letter = link_letters.next() %}
                            <button type="button" class="fill-det-btn" data-attrib-id="{{ attrib.id }}" data-mult="{{ attrib.mult | lower }}">
                                [{{ letter }}] {% if attrib.mult %}Multiply{% else %}Add{% endif %}
                            </button>
                            <script>
                                funcForKey['{{ letter }}'] = function() {
                                    document.querySelector('.fill-det-btn[data-attrib-id="{{ attrib.id }}"]').click();
                                };
                            </script>
                        {% endfor %}
                        </div>
                    {% endif %}
                    <div style="margin-top: 20px; text-align: center">
                    <button type="submit" id="roll-btn" name="roll">[R]oll</button>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <div id="outcome-display" style="height: 3em;">{{ outcome_display|safe }}</div>
            </td>
        </tr>
        {% if current.outcome_type == 'numeric' %}
        <tr>
            <td>
            <div style="background-color: black; margin: 3px; padding: 10px">
            <label for="stat_adjustment">Affected Stats:</label>
            {% for attrib in current.changed_attrs %}
                <form method="POST" action="{{ url_for('play_event', event_id=current.id) }}">
                <input type="hidden" name="attrib_id" value="{{ attrib.id }}">
                <input type="hidden" name="char_id" value="0" id="char_id_{{ attrib.id }}">
                <li style="margin-top: 5px">{{ attrib.name }}
                <select class="char-for-changed" id="char-for-changed_{{ attrib.id }}">
                    <option value="" selected>(Select character)</option>
                    {% for char in game_data.characters if attrib.id in char.attribs %}
                        {% set attrib_val = char.attribs[attrib.id].val | formatNum %}
                        <option value="{{ attrib_val }}" data-char-id="{{ char.id }}" {% if char.id == session['last_affected_char_id'] %}selected{% endif %}>{{ char.name }}</option>
                    {% endfor %}
                </select>
                {% set letter = link_letters.next() %}
                <button type="button" class="fill-changed-btn" data-attrib-id="{{ attrib.id }}">
                    [{{ letter }}] Fill
                </button>
                <script>
                    funcForKey['{{ letter }}'] = function() {
                        document.querySelector('.fill-changed-btn[data-attrib-id="{{ attrib.id }}"]').click();
                    };
                </script>
                <span id="oldval_{{ attrib.id }}" style="min-width: 5ch; display: inline-block; text-align: right;">0</span> &rarr;
                <input type="text" name="newval" id="newval_{{ attrib.id }}" size="8">
                {% set letter = link_letters.next() %}
                <button type="submit" name="change_attrib" class="change-attrib-btn" id="apply_{{ attrib.id }}" data-attrib-id="{{ attrib.id }}">
                    [{{ letter }}] Apply
                </button><br>
                <script>
                    funcForKey['{{ letter }}'] = function() {
                        document.querySelector('.change-attrib-btn[data-attrib-id="{{ attrib.id }}"]').click();
                    };
                </script>
                </form>
            {% endfor %}
            </div>
            </td>
        </tr>
        {% endif %}
    </table>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <script>
        $(document).ready(function() {
            // remember default for select box in client side storage
            let selectedDifficulty = localStorage.getItem('selectedDifficulty');
            if (selectedDifficulty === null) {
                selectedDifficulty = '10';
                localStorage.setItem('selectedDifficulty', selectedDifficulty);
            }
            $('#difficulty').val(selectedDifficulty);
            $('#difficulty').on('change', function() {
                localStorage.setItem('selectedDifficulty', this.value);
            });
            
            function updateStatAdjustment(attrId) {
                const selectedIndex = $(`#char-for-attrib_${attrId}`).prop('selectedIndex');
                const selectedValue = parseFloat($(`#char-for-attrib_${attrId}`).val()) || 0;
                const currentAdjustment = parseFloat($('#stat_adjustment').val()) || 0;
                const attrMult = $(`.fill-det-btn[data-attrib-id="${attrId}"]`).data('mult') == true;
                console.log('selectedValue:', selectedValue, 'Type:', typeof selectedValue);
                console.log('currentAdjustment:', currentAdjustment, 'Type:', typeof currentAdjustment);
                console.log('attrMult:', attrMult, 'Type:', typeof attrMult);
                if (selectedIndex !== 0) {
                    if (attrMult) {
                        $('#stat_adjustment').val(currentAdjustment * selectedValue);
                    } else {
                        $('#stat_adjustment').val(currentAdjustment + selectedValue);
                    }
                }
            }
            function handleSelectChange(event) {
                const attrId = $(event.target).attr('id').split('_')[1];
                updateStatAdjustment(attrId);
            }
            $('.char-for-attrib').on('change', handleSelectChange);
            $('.fill-det-btn').on('click', function() {
                const attrId = $(this).data('attrib-id');
                updateStatAdjustment(attrId); 
            });

            $('.fill-changed-btn').on('click', function() {
                const attrId = $(this).data('attrib-id');
                $('#char-for-changed_' + attrId).change();
            });
            $('.char-for-changed').change(function() {
                const selectedOption = $(this).find(':selected');
                const attribVal = parseFloat(selectedOption.val()) || 0;
                const attribId = this.id.split('_')[1];
                const charId = selectedOption.data('char-id');
                const currentOutcome = {{ current.outcome }};
                const oldValText = $(`#oldval_${attribId}`);
                const newValInput = $(`#newval_${attribId}`);
                const newValue = attribVal + currentOutcome;
                if (oldValText.text() !== attribVal.toString()) {
                    oldValText.text(attribVal);
                    newValInput.val(newValue);
                    $(`#char_id_${attribId}`).val(charId);
                }
            });
        });
    </script>
{% endblock %}
