{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for('overview') }}">[O]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure') }}">General Setup</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for('configure_item', item_id=current.id) }}">Item Setup</a>
    </div>
{% endblock %}

{% block content %}
    <script>
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
        };
        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('keypress', function (event) {
                const key = event.key.toLowerCase();
                if (key === 'd') {
                    document.getElementById('drop-btn').click();
                } else if (key === 'p') {
                    document.getElementById('pickup-btn').click();
                } else if (key === 'e') {
                    {% if pile.slot %}
                        document.getElementById('unequip-btn').click();
                    {% elif game_data.overall.slots %}
                        document.getElementById('equip-btn').click();
                    {% endif %}
                } else if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
            });
        });
    </script>
    <table style="width: 100%; max-width: 80%; margin: 0 auto;">
        <tr>
            <td>
                {% if char_id %}
                    {% set letter = link_letters.next() %}
                    {% set link = url_for('play_char', char_id=char_id) %}
                    <script>
                        linkForKey['{{ letter }}'] = "{{ link }}";
                    </script>
                    Carried by
                    <a href="{{ link }}">{{ container_name }}</a>
                    <span>[{{ letter }}]</span><br>
                {% elif loc_id %}
                    {% set letter = link_letters.next() %}
                    {% set link = url_for('play_location', loc_id=loc_id) %}
                    <script>
                        linkForKey['{{ letter }}'] = "{{ link }}";
                    </script>
                    At
                    <a href="{{ link }}">{{ container_name }}</a>
                    <span>[{{ letter }}]</span><br>
                {% else %}
                    General Storage<br>
                {% endif %}
                <h2 style="margin: 10px 10px; display: flex; align-items: center; flex-wrap: nowrap;">
                {{ current.name }}:
                {% if current.q_limit %}
                    <div id="storage-progress-container-{{ current.id }}" class="progress-container" style="display: inline-flex; align-items: center; margin-left: 10px;">
                        <progress id="storage-progress-bar-{{ current.id }}" class="progress-bar" value="0" max="100"></progress>
                        <span class="progress-label" id="storage-progress-label-{{ current.id }}" style="margin-left: 5px; color: white; font-weight: bold;">...</span>
                    </div>
                {% else %}
                    <span id="quantity-{{ current.id }}">...</span>
                {% endif %}
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <span id="recipe-progress-label-{{ current.id }}" style="">Recipe Progress:</span>
                <div id="action-progress-container-{{ current.id }}" class="progress-container hidden" style="display: inline-flex">
                    <progress id="action-progress-bar-{{ current.id }}" class="progress-bar" value="0" max="100"></progress>
                    <span class="progress-label" id="action-progress-label-{{ current.id }}">0%</span>
                </div>
                <span id="elapsed-time" class="hidden">...</span>
            </td>
        </tr>
        <tr>
            <style>
                .button-container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;
                }

                .button-column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            </style>
            <td>
                <div class="button-container">
                {% if char_id %}
                    {% if pile.slot %}
                        <div class="button-column, show-if-carried">
                            <button id="unequip-btn" class="go-button">Un[e]quip</button>
                        </div>
                    {% else %}
                        {% if game_data.overall.slots %}
                            <div class="button-column, show-if-carried">
                                <button id="equip-btn" class="go-button">[E]quip</button><br>
                                <select id="char-equip-slot">
                                    {% for slot in game_data.overall.slots %}
                                        <option value="{{ slot }}" {% if slot == default_slot %}selected{% endif %}>{{ slot }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="button-column, show-if-carried, hide-if-slot">
                        <button id="drop-btn" class="go-button">[D]rop</button>
                    </div>
                {% endif %}
                {% if loc_id %}
                    <div class="button-column, show-if-carried">
                        <button id="pickup-btn" class="go-button">[P]ick Up</button><br>
                        <select id="char-picking-up">
                            {% for char in game_data.characters if char.location.id == loc_id %}
                                <option value="{{ char.id }}" {% if char.id == default_pickup_char %}selected{% endif %}>{{ char.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                {% if char_id or loc_id %}
                    <div class="button-column, show-if-universal">
                        <button id="move_to_general-btn" class="go-button">Move to [G]eneral Storage</button>
                    </div>
                {% endif %}
                <div>
                    <input type="checkbox" id="show-all-buttons" /><label for="show-all-buttons">Show all choices</label>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: #2a2a2a; border-bottom: 2px solid #ffffff;">
            </td>
        </tr>
        {% if current.description %}
        <tr>
            <td>
                <p>{{ current.description }}</p>
            </td>
        </tr>
        {% endif %}
        {% if current.attribs %}
        <tr>
            <td>
                <table class="inner-table" cellspacing="0" cellpadding="5">
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    {% for attrib, attrib_val in current.attribs.items() %}
                    <tr>
                        <td>{{ attrib.name }}</td>
                        <td>{{ attrib_val }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        {% if current.recipes %}
        <tr>
            <td>
                <table class="inner-table" cellspacing="0" cellpadding="5">
                    <tr>
                        <th>Batches</th>
                        <th>Rate</th>
                        <th>Source</th>
                        <th>Required</th>
                        <th>In Stock</th>
                        <th>Where</th>
                    </tr>
                    {% for recipe in current.recipes %}
                        {% set rowspan = recipe.sources | length %}
                    <tr>
                        <td rowspan="{{ rowspan }}">
                            {% if recipe.instant %}
                            <input type="number" step="any" id="quantity_to_gain" size="10" value="1">
                            <button id="gain-btn" data-recipe-id="{{ recipe.id }}" data-rate-amount="{{ recipe.rate_amount }}" class="go-button">Gain</button>
                            {% else %}
                            <button class="toggle-btn go-button" data-recipe-id="{{ recipe.id }}">Start</button>
                            {% endif %}
                        </td>
                        <td rowspan="{{ rowspan }}">
                            <span id="rate-amount">{{ recipe.rate_amount | dec2str }}</span>
                            {% if not recipe.instant %}
                            per <span id="rate-duration">{{ recipe.rate_duration | dec2str }}</span>s
                            {% endif %}
                        </td>
                        {% if rowspan > 0 %}
                            {% set item = recipe.sources[0].item %}
                            {% if item.id == current.id %}
                                <td><strong>{{ item.name}}</strong></td>
                            {% else %}
                                {% set letter = link_letters.next() %}
                                {% set link = url_for('play_item', item_id=item.id, char_id=char_id, loc_id=loc_id) %}
                                <script>
                                    linkForKey['{{ letter }}'] = "{{ link }}";
                                </script>
                                <td>
                                    <span>[{{ letter }}]</span>
                                    <a href="{{ link }}">{{ item.name }}</a>
                                </td>
                            {% endif %}
                            <td>
                                {% if recipe.sources[0].preserve %}
                                    ({{ recipe.sources[0].q_required | dec2str }})
                                {% else %}
                                    {{ recipe.sources[0].q_required | dec2str }}
                                {% endif %}
                            </td>
                            <td id="recipe-{{ recipe.id }}-source-{{ item.id }}-quantity">...</td>
                            <td id="recipe-{{ recipe.id }}-source-{{ item.id }}-at">...</td>
                        {% endif %}
                    </tr>
                    {% for source in recipe.sources[1:] %}
                        {% set item = source.item %}
                    <tr>
                        {% if item.id == current.id %}
                            <td><strong>{{ item.name}}</strong></td>
                        {% else %}
                            {% set letter = link_letters.next() %}
                            {% set link = url_for('play_item', item_id=item.id, char_id=char_id, loc_id=loc_id) %}
                            <script>
                                linkForKey['{{ letter }}'] = "{{ link }}";
                            </script>
                            <td>
                                <span>[{{ letter }}]</span>
                                <a href="{{ link }}">{{ item.name }}</a>
                            </td>
                        {% endif %}
                        <td>
                            {% if source.preserve %}
                                ({{ source.q_required | dec2str }})
                            {% else %}
                                {{ source.q_required | dec2str }}
                            {% endif %}
                        </td>
                        <td id="recipe-{{ recipe.id }}-source-{{ item.id }}-qtyreq">...</td>
                        <td id="recipe-{{ recipe.id }}-source-{{ item.id }}-at">...</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}

        {% set outerscope = namespace(used_as_source=[]) %}
        {% for other_item in game_data.items %}
            {% if other_item.id != current.id %} <!-- e.g. pigs breeding pigs -->
                {% for recipe in other_item.recipes %}
                    {% for source in recipe.sources %}
                        {% if current.id == source.item.id %}
                            {% set _ = outerscope.used_as_source.append(
                                {'item': other_item, 'q_required': source.q_required}) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if outerscope.used_as_source %}
        <tr>
            <td>
                <table class="inner-table" cellspacing="0" cellpadding="5">
                    <tr>
                        <th>Used For</th>
                        <th>Required</th>
                    </tr>
                    {% for used_for in outerscope.used_as_source %}
                        {% set letter = link_letters.next() %}
                        {% set link = url_for('play_item', item_id=used_for.item.id, char_id=char_id, loc_id=loc_id) %}
                        <script>
                            linkForKey['{{ letter }}'] = "{{ link }}";
                        </script>
                    <tr>
                        <td>
                            <span>[{{ letter }}]</span>
                            <a href="{{ link }}">{{ used_for.item.name }}</a>
                        </td>
                        <td>{{ used_for.q_required | dec2str }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
    </table>

    <script>
        $(document).ready(function() {
            function updateStorageProgress(data) {
                const progressBar = $('#storage-progress-bar-{{ current.id }}');
                const progressLabel = $('#storage-progress-label-{{ current.id }}');

                const quantity = data.quantity || 0;
                const maxQuantity = data.max_quantity || 0;
                if (maxQuantity === 0) {
                    console.error("maxQuantity cannot be zero.");
                    return;
                }
                const progressPercent = (quantity / maxQuantity) * 100;
                progressBar.attr('value', progressPercent);
                progressBar.attr('max', 100);
                progressLabel.text(`${quantity} / ${maxQuantity}`);
            }
            function updateQuantity(data) {
                // Main item quantity
                $('#quantity-{{ current.id }}').text(
                    data.quantity
                    {% if current.q_limit != 0 %} + " / " + {{ current.q_limit }}{% endif %}
                );
                updateStorageProgress({
                    quantity: data.quantity,
                    max_quantity: {{ current.q_limit or 0 }}
                });
                // Source item quantities required
                {% for recipe in current.recipes %}
                    {% for source in recipe.sources %}
                        $.get('/item/progress_data/{{ source.item.id }}', function(data) {
                            $('#recipe-{{ recipe.id }}-source-{{ source.item.id }}-qtyreq').text(data.q_required);
                        });
                    {% endfor %}
                {% endfor %}
            }

            // Global variable to store the elapsed time.
            let elapsedTime = 0;
            let rateDuration = 1;
            let in_progress = false;

            function updateActionProgress() {
                console.log('Updating progress:', { elapsedTime, rateDuration });
                const progressBar = $('#action-progress-bar-{{ current.id }}');
                const progressLabel = $('#action-progress-label-{{ current.id }}');
                const effectiveElapsedTime = elapsedTime % rateDuration;
                const progressPercent = (effectiveElapsedTime / rateDuration) * 100;
                progressBar.val(progressPercent);
                progressLabel.text(`${Math.floor(effectiveElapsedTime)}s / ${rateDuration}s`);
            }

            // Update the elapsed time on the client.
            function updateElapsedTime() {
                // Increment the elapsed time by 1 second
                if (in_progress) {
                    elapsedTime += 1;
                }
                $('#elapsed-time').text(formatTime(elapsedTime));
            }

            // Function to format the time in HH:MM:SS format.
            function formatTime(time) {
              const hours = Math.floor(time / 3600);
              const minutes = Math.floor((time % 3600) / 60);
              const seconds = Math.floor(time % 60);
              return `${hours}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            }

            // Reconcile the elapsed time with the server-side progress time.
            function reconcileElapsedTime(data) {
                if (data.elapsed_time) {
                    elapsedTime = data.elapsed_time;
                } else {
                    elapsedTime = 0;
                }
                $('#dest-time').text(formatTime(elapsedTime));
            }

            // the Start button can change to "Stop"
            function updateToggleButtonLabel(data, recipe_id) {
                const toggleBtns = document.querySelectorAll(".toggle-btn");
                for (const toggleBtn of toggleBtns) {
                    const btnRecipeId = toggleBtn.getAttribute("data-recipe-id");
                    if (btnRecipeId && parseInt(btnRecipeId) === recipe_id) {
                        if (data && data.is_ongoing) {
                            toggleBtn.innerHTML = "Stop";
                            toggleBtn.classList.add("dangerous-button");
                            toggleBtn.classList.remove("go-button");
                        } else {
                            toggleBtn.innerHTML = "Start";
                            toggleBtn.classList.add("go-button");
                            toggleBtn.classList.remove("dangerous-button");
                        }
                    }
                }
            }

            function updateProgressVisibility() {
                if (!in_progress) {
                    $('#action-progress-container-{{ current.id }}').addClass('hidden');
                    $('#elapsed-time').addClass('hidden');
                    $('#recipe-progress-label-{{ current.id }}').addClass('hidden');
                    return;
                }
                if (rateDuration < 5) {
                    $('#action-progress-container-{{ current.id }}').addClass('hidden');
                    $('#elapsed-time').removeClass('hidden');
                    $('#recipe-progress-label-{{ current.id }}').addClass('hidden');
                } else {
                    $('#action-progress-container-{{ current.id }}').removeClass('hidden');
                    $('#elapsed-time').addClass('hidden');
                    $('#recipe-progress-label-{{ current.id }}').removeClass('hidden');
                }
            }

            // Fetch progress data and update all relevant information
            function fetchProgressData() {
                const itemId = "{{ current.id }}";
                const charId = "{{ char_id }}";
                const locId = "{{ loc_id }}";
                let url = '/item/progress_data/' + itemId;
                const queryParams = [];
                if (charId) {
                    queryParams.push('char_id=' + encodeURIComponent(charId));
                }
                if (locId) {
                    queryParams.push('loc_id=' + encodeURIComponent(locId));
                }
                if (queryParams.length > 0) {
                    url += '?' + queryParams.join('&');
                }
                $.get(url, function(data) {
                    updateQuantity(data);
                    updateActionProgress();
                    in_progress = data.is_ongoing;
                    reconcileElapsedTime(data);
                    updateToggleButtonLabel(data, data.recipe_id);
                    updateProgressVisibility();
                });
            }

            // Update initially
            fetchProgressData();
            updateElapsedTime();

            // Client-side update loops 
            setInterval(updateElapsedTime, 1000);
            startFetchingProgress();
            updateVisibility();

            var fetchProgressInterval;
            function startFetchingProgress() {
                if (fetchProgressInterval) {
                    stopFetchingProgress();
                }
                const duration = 2000;
                //const duration = 15000;  // for development only
                fetchProgressInterval = setInterval(fetchProgressData, duration);
            }
            function stopFetchingProgress() {
                clearInterval(fetchProgressInterval);
                fetchProgressInterval = null;
            }

            // Button click event handlers

            $('#gain-btn').click(function() {
                const quantityInput = $(this).prev('#quantity_to_gain');
                const quantity = parseInt(quantityInput.val(), 10);
                const recipe_id = $(this).data('recipe-id');
                const rate_amount = $(this).data('rate-amount');
                const minResultQty = parseInt(rate_amount, 10);
                if (isNaN(quantity) || quantity < 1) {
                    alert('Please enter a valid number for the quantity.');
                    return;
                }
                const item_id = {{ current.id }}
                stopFetchingProgress();
                $.ajax({
                    url: '/item/gain/' + item_id + '/' + recipe_id,
                    method: 'POST',
                    data: { quantity: quantity },
                    success: function(response) {
                        if (response.status === 'error') {
                            console.error(response.message);
                            alert(response.message);
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        alert('Error: ' + error);
                    },
                    complete: function() {
                        fetchProgressData();
                        startFetchingProgress();
                    }
                });
            });
            $('.toggle-btn').click(function() {
                const current_id = {{ current.id }};
                const toggleBtn = this;
                const recipe_id = $(this).data('recipe-id');
                const row = $(this).closest('tr');
                rateDuration = parseFloat(row.find('#rate-duration').text()) || 1;
                console.log('toggleItem(): ' + current_id);
                //toggleBtn.disabled = true;
                const urlParts = ['/item/stop', current_id];
                if (toggleBtn.innerHTML === "Start") {
                    urlParts[0] = '/item/start';
                    urlParts.push(recipe_id);
                }
                const url = urlParts.join('/');
                console.log(`url ${url}`);
                stopFetchingProgress();
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        if (data.status === 'error') {
                            console.error('Could not toggle:', data.message);
                            alert(data.message);
                        }
                        updateToggleButtonLabel(data, recipe_id);
                        fetchProgressData();
                        startFetchingProgress();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        startFetchingProgress();
                    });
            });
            $('#drop-btn').click(function() {
                const itemId = "{{ current.id }}";
                const charId = "{{ char_id }}";
                $.ajax({
                    url: `/item/drop/${itemId}/char/${charId}`,
                    method: 'POST',
                    success: function(response) {
                        if (response.status === 'success') {
                            {% if char_id %} // Ensure that url_for() does not cause an error, even if the JavaScript code isn't executed.
                                window.location.href = "{{ url_for('play_char', char_id=char_id) }}";
                            {% endif %}
                        } else {
                            console.error(response.message);
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        alert('Error: ' + error);
                    }
                });
            });
            $('#pickup-btn').click(function() {
                const itemId = "{{ current.id }}";
                const locId = "{{ loc_id }}";
                const charId = $('#char-picking-up').val();
                if (!charId) {
                    alert('Please select a character to pick up the item.');
                    return;
                }
                $.ajax({
                    url: `/item/pickup/${itemId}/loc/${locId}/char/${charId}`,
                    method: 'POST',
                    success: function(response) {
                        if (response.status === 'success') {
                            {% if loc_id %} // Ensure that url_for() does not cause an error, even if the JavaScript code isn't executed.
                                window.location.href = "{{ url_for('play_location', loc_id=loc_id) }}";
                            {% endif %}
                        } else {
                            console.error(response.message);
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        alert('Error: ' + error);
                    }
                });
            });
            $('#equip-btn').click(function() {
                const itemId = "{{ current.id }}";
                const charId = "{{ char_id }}";
                const slot = $('#char-equip-slot').val();
                if (!slot) {
                    alert('Please select a slot to equip the item.');
                    return;
                }
                $.ajax({
                    url: `/item/equip/${itemId}/char/${charId}/slot/${slot}`,
                    method: 'POST',
                    success: function(response) {
                        if (response.status === 'success') {
                            {% if char_id %} // Ensure that url_for() does not cause an error, even if the JavaScript code isn't executed.
                                window.location.href = "{{ url_for('play_char', char_id=char_id) }}";
                            {% endif %}
                        } else {
                            console.error(response.message);
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        alert('Error: ' + error);
                    }
                });
            });
            $('#unequip-btn').click(function() {
                const itemId = "{{ current.id }}";
                const charId = "{{ char_id }}";
                $.ajax({
                    url: `/item/unequip/${itemId}/char/${charId}`,
                    method: 'POST',
                    success: function(response) {
                        if (response.status === 'success') {
                            {% if char_id %} // Ensure that url_for() does not cause an error, even if the JavaScript code isn't executed.
                                window.location.href = "{{ url_for('play_char', char_id=char_id) }}";
                            {% endif %}
                        } else {
                            console.error(response.message);
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        alert('Error: ' + error);
                    }
                });
            });

            function updateVisibility() {
                const storageType = '{{ current.storage_type }}';
                const showAll = $('#show-all-buttons').is(':checked');
                const showThese = [];
                const hideThese = [];
                $('.show-if-carried').each(function() {
                    if (showAll || storageType === 'carried') {
                        showThese.push(this);
                    } else {
                        hideThese.push(this);
                    }
                });
                $('.show-if-universal').each(function() {
                    if (showAll || storageType === 'universal') {
                        showThese.push(this);
                    } else {
                        hideThese.push(this);
                    }
                });
                $('.hide-if-slot').each(function() {
                    {% if pile.slot %}
                        if (showAll) {
                            if (!showThese.includes(this)) {
                                showThese.push(this);
                            }
                            const index = showThese.indexOf(this);
                            if (index > -1) {
                                hideThese.splice(index, 1);
                            }
                        } else {
                            const index = showThese.indexOf(this);
                            if (index > -1) {
                                showThese.splice(index, 1);
                            }
                            if (!hideThese.includes(this)) {
                                hideThese.push(this);
                            }
                        }
                    {% endif %}
                });
                showThese.forEach(el => $(el).show());
                hideThese.forEach(el => $(el).hide());
            }
            $('#show-all-buttons').on('change', function() {
                updateVisibility();
            });
        });
    </script>
{% endblock %}
