{% extends 'base.html' %}
{% block upper_left %}
    <div class="nav-container">
        <a class="upper-left" href="{{ url_for("overview") }}">[O]verview</a>
        <span class="separator">|</span>
        <a class="upper-left" href="{{ url_for("configure_index") }}">[M]ain Setup</a>
        <span class="separator">|</span>
        <a class="upper-left"
           href="{{ url_for('configure_location', loc_id=current.id) }}">Location S[e]tup</a>
    </div>
{% endblock %}
{% block content %}
    <div id="content" style="display:none;">
        <script>
        const keyToMovement = {
            'ArrowUp': { xChange: 0, yChange: -1 },
            'ArrowDown': { xChange: 0, yChange: 1 },
            'ArrowLeft': { xChange: -1, yChange: 0 },
            'ArrowRight': { xChange: 1, yChange: 0 },
            'Numpad8': { xChange: 0, yChange: -1 },
            'Numpad2': { xChange: 0, yChange: 1 },
            'Numpad4': { xChange: -1, yChange: 0 },
            'Numpad6': { xChange: 1, yChange: 0 },
            'Numpad7': { xChange: -1, yChange: -1 },
            'Numpad9': { xChange: 1, yChange: -1 },
            'Numpad1': { xChange: -1, yChange: 1 },
            'Numpad3': { xChange: 1, yChange: 1 }
        };
        if (!isMobile) {
            document.addEventListener('keydown', (event) => {
                const movement = keyToMovement[event.code];
                if (movement) {
                    moveCharacter(movement.xChange, movement.yChange);
                    event.preventDefault();
                    event.stopPropagation();
                }
            });
        }
        const linkForKey = {
            'o': '{{ url_for('overview') }}',
            'm': '{{ url_for('configure_index') }}',
            'e': '{{ url_for('configure_location', loc_id=current.id) }}',
        };
        document.addEventListener('DOMContentLoaded', () => {
            if (isMobile) {
                return;
            }
            document.addEventListener('keypress', (event) => {
                const key = event.key.toLowerCase();
                if (linkForKey[key]) {
                    window.location.href = linkForKey[key];
                }
            });
        });
        </script>
        <h1>{{ current.name }}</h1>
        {% if current.description %}<p>{{ current.description|htmlify }}</p>{% endif %}
        {% set width, height = current.grid.dimensions %}
        {% set has_grid = False %}
        {% if width > 0 and height > 0 %}
            {% set has_grid = True %}
        {% endif %}
        <div class="column-container">
            <div><!-- lefthand column -->
                    {% if game_data.characters %}
                        <h2>Characters Here</h2>
                        <ul>
                            {% for char in game_data.characters %}
                                {% set link = url_for('play_char', char_id=char.id) %}
                                {% set letter = link_letters.next(link) %}
                                <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
                                <span class="hotkey-indicator">[{{ letter }}]</span>
                                <a href="{{ link }}">{{ char.name }}</a>
                                {% if has_grid %}
                                    <span class="label-like char-position" data-char-id="{{ char.id }}">&nbsp;[{{ char.position[0] }},{{ char.position[1] }}]</span>
                                {% endif %}
                                <br>
                            {% else %}
                                <p>(None)</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if current.items %}
                        <h2>Items Here</h2>
                        <ul class="item-list">
                            {% for item_at in current.items.values() | sort(attribute='item.name') %}
                                {% set item = item_at.item %}
                                {% set link = url_for('play_item', item_id=item.id, loc_id=current.id, main='local') %}
                                {% set letter = link_letters.next(link) %}
                                <script>linkForKey['{{ letter }}'] = "{{ link|safe }}";</script>
                                <span class="hotkey-indicator">[{{ letter }}]</span>
                                <a href="{{ link }}">{{ item.name }}</a>
                                {% if not (item_at.item.q_limit == 1 and item_at.quantity == 1) %}{{ item_at.quantity | formatNum }}{% endif %}
                                {% if has_grid %}
                                    <span class="label-like">&nbsp;[{{ item_at.position[0] }},{{ item_at.position[1] }}]</span>
                                {% endif %}
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if current.item_refs %}
                        <h2>Referenced Items</h2>
                        <ul>
                            {% for item in current.item_refs | sort(attribute='name') %}
                                {% set link = url_for('play_item', item_id=item.id, loc_id=current.id, main='universal') %}
                                {% set letter = link_letters.next(link) %}
                                <script>linkForKey['{{ letter }}'] = "{{ link|safe }}";</script>
                                <span class="hotkey-indicator">[{{ letter }}]</span>
                                <a href="{{ link }}">{{ item.name }}</a>
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if game_data.events %}
                        <h2>Local Events</h2>
                        <ul>
                            {% for evt in game_data.events %}
                                {% set link = url_for('play_event', event_id=evt.id, from_id=current.id, from_typename=current.typename()) | safe %}
                                {% set letter = link_letters.next(link) %}
                                <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
                                <span class="hotkey-indicator">[{{ letter }}]</span>
                                <a href="{{ link }}">{{ evt.name }}</a>
                                {% if evt.trigger_chance > 0 %}
                                    <span class="label-like">&nbsp;(chance to trigger)</span>
                                {% endif %}
                                <br>
                            {% else %}
                                <p>(None)</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if current.destinations %}
                        <h2>Destinations</h2>
                        <ul>
                            {% for dest in current.destinations %}
                                {% if dest.other_loc.masked %}
                                    <span class="hotkey-indicator">[&nbsp;&nbsp;]</span>
                                    Somewhere not yet visited
                                {% else %}
                                    {% set link = url_for('play_location', loc_id=dest.other_loc.id) %}
                                    {% set letter = link_letters.next(link) %}
                                    <script>linkForKey['{{ letter }}'] = "{{ link }}";</script>
                                    <span class="hotkey-indicator">[{{ letter }}]</span>
                                    <a href="{{ link }}">{{ dest.other_loc.name }}</a>
                                {% endif %}
                                {% if dest.duration >= 2 %}
                                    — {{ dest.duration }}s
                                {% endif %}
                                <br>
                            {% else %}
                                <p>(None)</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
            </div>
                {% set left, top, right, bottom = current.grid.excluded %}
                {% if has_grid %}
            <div class="expand"><!-- righthand column -->
                <style>
                td.grid {
                    width: 1.5em;
                    height: 1.5em;
                    text-align: center;
                    vertical-align: middle;
                    padding: 0;
                }
                td.excluded {
                    border: none;
                }
                td.included {
                    border: 1px solid gray;
                    background-color: #2a2a2a;
                }
                    </style>
                    <table style="background: transparent;
                                  border-collapse: collapse;
                                  font-family: monospace">
                        {% for y in range(1, height + 1) %}
                            <tr>
                                {% for x in range(1, width + 1) %}
                                    {% if left <= x <= right and top <= y <= bottom %}
                                        <td class="grid excluded" id="cell-{{ x }}-{{ y }}"></td>
                                    {% else %}
                                        <td class="grid included" id="cell-{{ x }}-{{ y }}"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% if game_data.characters %}
                        <style>
                            .navigation-container {
                                display: grid;
                                grid-template-columns: auto auto auto;
                                grid-template-rows: auto auto auto;
                                gap: 5px;
                                justify-content: start;
                            }
                            .navigation-container button {
                                width: 30px;
                                height: 30px;
                                font-size: 12px;
                                cursor: pointer;
                            }
                            .empty {
                                visibility: hidden; /* Hide the empty grid spaces */
                            }
                        </style>
                        <div class="navigation-container">
                            <!-- Top Left (Northwest) -->
                            <button type="button" data-x="-1" data-y="-1">↖</button>
                            <!-- Up -->
                            <button type="button" data-x="0" data-y="-1">↑</button>
                            <!-- Top Right (Northeast) -->
                            <button type="button" data-x="1" data-y="-1">↗</button>
                            <!-- Left -->
                            <button type="button" data-x="-1" data-y="0">←</button>
                            <!-- Middle (empty) -->
                            <span></span>
                            <!-- Right -->
                            <button type="button" data-x="1" data-y="0">→</button>
                            <!-- Bottom Left (Southwest) -->
                            <button type="button" data-x="-1" data-y="1">↙</button>
                            <!-- Down -->
                            <button type="button" data-x="0" data-y="1">↓</button>
                            <!-- Bottom Right (Southeast) -->
                            <button type="button" data-x="1" data-y="1">↘</button>
                        </div>
                        <div style="margin-top: 5px;">
                            <label for="char-to-move">Moving:</label>
                            <select id="char-to-move">
                                {% for char in game_data.characters if char.location.id == current.id %}
                                    <option value="{{ char.id }}"
                                            {% if char.id == defaults.move_char %}selected{% endif %}>
                                        {{ char.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="move-with">Move With:</label>
                            <!-- default "{{ defaults.travel_with }}" -->
                            <select id="move-with">
                                <option value="">(No one else)</option>
                                {% for group_name, ids_str in travel_groups %}
                                    {% set ids_list = ids_str.split(',') | sort %}
                                    {% set defaults_list = defaults.travel_with.split(',') | sort %}
                                    <option value="{{ ids_str }}"
                                            {% if ids_list == defaults_list %}selected{% endif %}>
                                        {{ group_name }}
                                    </option>
                                {% endfor %}
                                {% for char in game_data.characters %}
                                    <option value="{{ char.id }}"
                                            {% if char.id|string == defaults.travel_with %}selected{% endif %}>
                                        {{ char.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        <script>
        const door_letter = "🚪"
        const characters = {
            {% for char in game_data.characters if char.location.id == current.id %}
                "{{ char.id }}": {
                    letter: '{{ char.name[0] }}',
                    title: '{{ char.name }}',
                    link: "{{ url_for('play_char', char_id=char.id) }}",
                    x: "{{ char.position[0] }}",
                    y: "{{ char.position[1] }}" },
            {% endfor %}
        };
        const items = {
            {% for item_at in current.items.values() %}
                "{{ item_at.item.id }}": {
                    letter: '{{ item_at.item.name[0] }}',
                    title: '{{ item_at.item.name }}',
                    link: "{{ url_for('play_item', item_id=item_at.item.id, loc_id=current.id, main='local') }}",
                    x: "{{ item_at.position[0] }}",
                    y: "{{ item_at.position[1] }}" },
            {% endfor %}
        };
        const doors = {
            {% for dest in current.destinations %}
                "{{ dest.other_loc.id }}": {
                    letter: door_letter,
                    title: "{{ dest.other_loc.name }}",
                    link: "{{ url_for('play_location', loc_id=dest.other_loc.id) }}",
                    x: "{{ dest.door_here[0] }}",
                    y: "{{ dest.door_here[1] }}" },
            {% endfor %}
        };
        function updateCharacterDisplay(charId, position) {
            const coordElement = $(`span.char-position[data-char-id='${charId}']`);
            if (coordElement.length) {
                coordElement.html(`&nbsp;[${position[0]},${position[1]}]`);
            } else {
                console.error(`No coordinates element found for character ID ${charId}`);
            }
        }
        function moveCharacter(xChange, yChange) {
            const selectBox = $('#char-to-move');
            const moveWith = $('#move-with').val();
            const selectMoveWith = $('#move-with');
                            move_with: $('#move-with').val()
            const charId = (selectBox.length ? selectBox.val() : null);
            if (!charId) {
                alert("Select a character to move.");
                return;
            }
            $.ajax({
                url: `/char/move/${charId}/x_change/${xChange}/y_change/${yChange}`,
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    travel_with: moveWith
                },
                success: (data) => {
                    if (data.positions) {
                        console.log("Character positions:", data.positions);
                        for (const [id_str, position] of Object.entries(data.positions)) {
                            const id = parseInt(id_str, 10);
                            characters[id].x = position[0];
                            characters[id].y = position[1];
                            updateCharacterDisplay(id, position);
                        }
                        fillGrid();
                    } else {
                        console.error('Failed to move character');
                    }
/*
                    if (data.position) {
                        console.log(`Character moved to ${data.position}`);
                        const moveWithIds = moveWith.split(",")
                            .filter(_id => _id)
                            .map(_id => parseInt(_id, 10));
                        moveWithIds.push(charId);
                        for (const id of moveWithIds) {
                            characters[id].x = data.position[0];
                            characters[id].y = data.position[1];
                            updateCharacterDisplay(id, data.position);
                        }
                        fillGrid();
*/
                },
                error: (error) => {
                    console.error('Error:', error);
                    alert(`Error: ${error}`);
                }
            });
        }
        function fillGrid(redraw=true) {
            if (redraw) {
                $('.grid').empty();
            }
            for (const entity of [
                    ...Object.values(characters),
                    ...Object.values(items),
                    ...Object.values(doors)]) {
                setCellContents(entity);
            }
        }
        function setCellContents(entity, replace = false) {
            const { x, y, letter, title, link } = entity;
            if (!x && !y) {
                return;
            }
            const cell = $(`#cell-${x}-${y}`);
            if (cell.length) {
                if (replace || cell.html().trim() === '') {
                    let content = letter;
                    if (title) {
                        content = `<span title="${title}">${content}</span>`;
                    }
                    content = `<a href="${link}">${content}</a>`;
                    cell.html(content);
                } else {
                    console.log(`Cell (${x}, ${y}) is already occupied.`);
                }
            } else if (Number(x) && Number(y)) {
                console.error(`Cell (${x}, ${y}) not found.`);
            }
        }
        async function initializePage() {
            $('#content').css('display', 'block');
        }
        $('.navigation-container button').on('click', function() {
            const xChange = parseInt($(this).data('x'));
            const yChange = parseInt($(this).data('y'));
            moveCharacter(xChange, yChange);
        });

        // Initial setup of cell contents
        fillGrid(false);
        $(document).ready(() => {
            initializePage();
        });
        </script>
    </div>
    <!-- content -->
{% endblock %}
