{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a href="{{ url_for('configure') }}">Change Setup</a>
    </div>
{% endblock %}

{% block content %}
    {% if current.winning_items %}
        {% set can_win = true %}
        {% for winning_item, winning_quantity in current.winning_items.items() %}
            {% if not current.items[winning_item.name] or current.items[winning_item.name].progress.quantity < winning_quantity %}
                {% set can_win = false %}
            {% endif %}
        {% endfor %}
        {% if can_win %}
            <h1 style="color:green">&#10004; <!-- Checkmark symbol -->
        {% else %}
            <h1>
        {% endif %}
            {{ current.title }}
        </h1>
        <p><center>{{ current.description }}</center></p>
        {% if current.winning_items %}
            <p>Need to collect:</p>
            <ul>
                {% for winning_item, winning_quantity in current.winning_items.items() %}
                    {% set remaining_quantity = winning_quantity - (current.items[winning_item.name].progress.quantity if current.items[winning_item.name] else 0) %}
                    <li>{{ remaining_quantity }} more {{ winning_item.name }}(s)</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h1>{{ current.title }}</h1>
        <p><center>{{ current.description }}</center></p>
    {% endif %}
    {% if other_entities.items %}
        <table cellspacing="0" cellpadding="5">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            {% for item in other_entities.items %}
                <tr>
                    <td>
                        <a href="{{ url_for('play_item', item_id=item.id) }}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td id="item-{{ item.id }}-quantity">...</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <table>
        <tr>
            <th>Character</th>
            <th>Location</th>
            <th>Recent Action</th>
            <th>Player</th>
        </tr>
        {% for char in charlist %}
            <tr>
                <td>
                    {% if char.char_id %}
                        <a href="{{ url_for('play_char', char_id=char.char_id) }}">{{ char.char_name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if char.loc_id %}
                        <a href="{{ url_for('play_location', location_id=char.loc_id) }}">{{ char.loc_name }}</a>
                    {% endif %}
                </td>
                <td>{{ char.action_name }}</td>
                <td{% if char.username == current_username %} class="userid"{% endif %}>{{ char.username }}</td>

            </tr>
        {% endfor %}
    </table>
    {% set outerscope = namespace(display_section = false) %}
    {% for event in other_entities.events %}
        {% set outerscope.display_section = true %}
    {% endfor %}
    {% if outerscope.display_section %}
        <h2>Events</h2>
        <ul>
            {% for event in other_entities.events %}
                <li>
                    <a href="{{ url_for('play_event', event_id=event.id) }}">{{ event.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <script>
        $(document).ready(function() {
            function updateQuantities() {
                {% for item in other_entities.items %}
                    // Make AJAX request for item quantity
                    $.get('/item/progress_data/{{ item.id }}', function(data) {
                        $('#item-{{ item.id }}-quantity').text(data.quantity);
                    });
                {% endfor %}
            }

            // Update quantities initially
            updateQuantities();

            // Update quantities periodically
            setInterval(updateQuantities, 10000);
        });
    </script>
{% endblock %}
