{% extends 'base.html' %}

{% block upper_left %}
    <div class="nav-container">
        <a href="{{ url_for('configure') }}">Change Setup</a>
    </div>
{% endblock %}

{% block content %}
    {% if current.winning_item and current.winning_item.progress.quantity >= current.winning_quantity %}
    <h1 style="color:green">&#10004; <!-- Checkmark symbol -->
        {% else %}
    <h1>
        {% endif %}
        {{ current.title }}
    </h1>
    <p><center>{{ current.description }}</center></p>
    {% if current.winning_item %}
<!--
    <p>Need {{ current.winning_quantity }} {{ current.winning_item.name }} to win.</p>
    <p>Currently have {{ current.winning_item.progress.quantity }}.</p>
-->
    {% endif %}
    {% if game_data.items %}
        <table cellspacing="0" cellpadding="5">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            {% for item in game_data.items %}
                {% if item.toplevel %}
                    <tr>
                        <td>
                            <a href="{{ url_for('play_item', item_id=item.id) }}">
                                {{ item.name }}
                            </a>
                        </td>
                        <td id="item-{{ item.id }}-quantity">...</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    <table>
        <tr>
            <th>Character</th>
            <th>Location</th>
            <th>Recent Action</th>
            <th>Player</th>
        </tr>
        {% for char in charlist %}
            <tr>
                <td>
                    {% if char.char_id %}
                        <a href="{{ url_for('play_char', char_id=char.char_id) }}">{{ char.char_name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if char.loc_id %}
                        <a href="{{ url_for('play_location', location_id=char.loc_id) }}">{{ char.loc_name }}</a>
                    {% endif %}
                </td>
                <td>{{ char.action_name }}</td>
                <td{% if char.user_id == current_user_id %} class="userid"{% endif %}>{{ char.user_id }}</td>

            </tr>
        {% endfor %}
    </table>
    {% set outerscope = namespace(display_section = false) %}
    {% for event in game_data.events %}
        {% if event.toplevel %}
            {% set outerscope.display_section = true %}
        {% endif %}
    {% endfor %}
    {% if outerscope.display_section %}
        <h2>Events</h2>
        <ul>
            {% for event in game_data.events %}
                {% if event.toplevel %}
                    <li>
                        <a href="{{ url_for('play_event', event_id=event.id) }}">{{ event.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <script>
        $(document).ready(function() {
            function updateQuantities() {
                {% for item in game_data.items %}
                    // Make AJAX request for item quantity
                    $.get('/item/progress_data/{{ item.id }}', function(data) {
                        $('#item-{{ item.id }}-quantity').text(data.quantity);
                    });
                {% endfor %}
            }

            // Update quantities initially
            updateQuantities();

            // Update quantities periodically
            setInterval(updateQuantities, 5000);
        });
    </script>
{% endblock %}
