{% import 'macros/hotkeys.html' as hk %}

{% macro maskable_name(item, url=None, link_letters=None) %}
    {% if item.masked | default(false) %}
        {{ item.name | mask_string }}
    {% elif url %}
        {% call hk.hotlink(url, link_letters) %}
            {{ item.name }}
        {% endcall %}
    {% else %}
        {{ item.name }}
    {% endif %}
{% endmacro %}

{% macro attrib_input(name, value, attrib_def, id=None) %}
    {% if attrib_def.is_binary %}
        <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ 1 if value else 0 }}">
        <label class="checkbox-label">
            <input type="checkbox" {{ 'checked' if value }} 
                   onchange="document.getElementById('{{ id }}').value = this.checked ? '1' : '0'">
        </label>
    {% elif attrib_def.enum_entries %}
        <select name="{{ name }}" id="{{ id }}">
            {% for entry in attrib_def.enum_entries %}
                <option value="{{ entry.id }}" {{ 'selected' if value|int == entry.id }}>{{ entry.label }}</option>
            {% endfor %}
        </select>
    {% else %}
        <input type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="Value">
    {% endif %}
{% endmacro %}

