{% import 'macros/hotkeys.html' as hk %}

{% macro maskable_name(item, url=None, link_letters=None) %}
    {% if item.masked | default(false) %}
        {{ item.name | mask_string }}
    {% elif url %}
        {% call hk.hotlink(url, link_letters) %}
            {{ item.name }}
        {% endcall %}
    {% else %}
        {{ item.name }}
    {% endif %}
{% endmacro %}

{% macro attrib(attrib_val, attrib_def) %}
    {% if attrib_def.is_binary %}
        {{ '✅' if attrib_val.value else '❌' }}
    {% elif attrib_def.enum_list %}
        {# Map numeric value to string in enum list #}
        {{ attrib_def.enum_list[attrib_val.value | int] if attrib_def.enum_list[attrib_val.value | int] else '?' }}
    {% else %}
        {{ attrib_val.value | formatNum }}
    {% endif %}
{% endmacro %}

{# Configuration Forms #}
{% macro attrib_input(name, value, attrib_def, id=None) %}
    {% if attrib_def.is_binary %}
        <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ 1 if value else 0 }}">
        <label class="checkbox-label">
            <input type="checkbox" {{ 'checked' if value }} 
                   onchange="document.getElementById('{{ id }}').value = this.checked ? '1' : '0'">
        </label>
    {% elif attrib_def.enum_list %}
        <select name="{{ name }}" id="{{ id }}">
            {% for label in attrib_def.enum_list %}
                <option value="{{ loop.index0 }}" {{ 'selected' if value|int == loop.index0 }}>{{ label }}</option>
            {% endfor %}
        </select>
    {% else %}
        <input type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="Value">
    {% endif %}
{% endmacro %}

