{% import 'macros/hotkeys.html' as hk %}

{% macro maskable_name(item, url=None, link_letters=None) %}
    {# Jinja treats undefined/None as False #}
    {% if item.masked %}
        {{ item.name | mask_string }}
    {% elif url %}
        {% call hk.hotlink(url, link_letters) %}
            {{ item.name }}
        {% endcall %}
    {% else %}
        {{ item.name }}
    {% endif %}
{% endmacro %}

{% macro attrib(attrib_val, attrib_def) %}
    {% if attrib_def.is_binary %}
        {{ '✅' if attrib_val.value else '❌' }}
    {% elif attrib_def.enum_list %}
        {# Map numeric value to string in enum list #}
        {{ attrib_def.enum_list[attrib_val.value | int] if attrib_def.enum_list[attrib_val.value | int] else '?' }}
    {% else %}
        {{ attrib_val.value | formatNum }}
    {% endif %}
{% endmacro %}

